


.new-lnk {
  color: white;
  font-weight: 500;
}
.new-lnk:hover {
  color: black !important;
}

.selectedSidebar {
background-color: #FFF6E9;
border-radius: 10px;
color: #254336;
a {
  color: #254336;
}
}