<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Blogs</h1>
                    <ul class="header-bradcrumb justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li class="active" aria-current="page">Blogs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 mb-20" *ngFor="let blog of blogs">
                        <div class="single-course-category style-1 bg-shade" (click)="selectBlog(blog)" [style.background-image]="'url(' + (blog?.menuIconImage ? blog?.menuIconImage : '../../../../assets/images/blog_default.png') + ')'" [style.background-size]="'cover'">
                            <div class="course-cat-content">
                                <h4 class="course-cat-title">
                                    <a href="javascript:;" style="color: #b12384;">{{blog?.pageTitle}}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>