<footer class="text-center text-lg-start" style="padding: 100px 5px 20px 10px; margin-top: 50px; bottom: 0; width: 100%; background-color: #FFF; border-top: 2px solid #000;"> 
  <!-- rgba(0, 0, 0, 0.2); -->
  <div class="container-fluid" style="width: 90%; margin: 0 auto;">
    <div class="row">
      <!-- Logo div -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <a routerLink="/" style="cursor: pointer;">
          <img src="../../../assets//images/logo pro (2).png" alt="" style="width: 200px;">
        </a>
        <p style="font-size: 12px; line-height: 1.4;">
          Dissertation Writing UK is renowned for quality writing in London | Leeds | Liverpool | Birmingham | Oxford | Croydon | Manchester | Sheffield | Leicester | Luton
        </p>
        <hr style="border-top: 1px solid #000; width: 100%;">
        <div class="mu-social-media" style="margin-bottom: 10px;">
          <style>
            .social-icon {
              font-size: 20px;
              color: #fff;
              transition: transform 0.2s, opacity 0.2s;
            }
        
            .social-icon:hover {
              transform: scale(1.6);
              opacity: 1;
            }
          </style>
        
          <a href="https://www.facebook.com/profile.php?id=61557650182728" target="_blank">
            <!-- <i class="fa fa-facebook social-icon"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="#ffffff">
              <path d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.407.593 24 1.325 24h11.495v-9.294H9.691v-3.622h3.129V8.413c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24h-1.918c-1.504 0-1.795.715-1.795 1.764v2.312h3.587l-.467 3.622h-3.12V24h6.105c.73 0 1.325-.593 1.325-1.324V1.325C24 .593 23.407 0 22.675 0z"/>
            </svg>            
          </a>
          <a  class="mu-whatsapp "  href="https://api.whatsapp.com/send?phone=447867530372&amp;text=Hi%20Dissertation%20Writing%20Help" target="_blank">
            <!-- <i class="fa fa-whatsapp social-icon"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="#ffffff">
              <path d="M12 0C5.371 0 0 5.371 0 12c0 2.117.553 4.184 1.6 6.015L0 24l6.158-1.574A11.943 11.943 0 0 0 12 24c6.629 0 12-5.371 12-12S18.629 0 12 0zm6.548 17.489c-.262.736-1.313 1.354-2.14 1.47-.574.085-1.302.152-3.817-.81-3.206-1.276-5.238-4.5-5.398-4.707-.159-.208-1.288-1.71-1.288-3.267s.818-2.303 1.108-2.615c.29-.312.638-.39.851-.39.213 0 .426.002.61.01.198.01.463-.075.725.55.262.624.89 2.152.97 2.306.08.154.131.33.03.538-.102.208-.154.336-.31.517-.159.182-.327.405-.47.544-.159.154-.324.321-.14.63.184.309.826 1.353 1.766 2.19 1.215 1.088 2.242 1.433 2.553 1.59.311.156.498.129.683-.077.184-.206.79-.91 1.006-1.218.215-.309.447-.255.747-.153.298.101 1.39.654 1.636.772.245.117.408.176.467.275.057.1.057.585-.205 1.322z"/>
            </svg>
          </a>
          
          <!-- Floating Whatsapp -->
          <!-- <a style="height: 50px; width: 50px;" class="mu-whatsapp my-floatoo floatoo" href="https://api.whatsapp.com/send?phone=4564654654&amp;text=Hi%E2%80%9A%20Assignment%20Experts" target="_blank">
            <i style="font-size: 40px;" class="fa fa-whatsapp social-icon"></i>
        </a>         -->
        
          <!-- <a class="mu-twitter" href="https://www.twitter.com/" target="_blank">
            <i class="fa fa-twitter social-icon"></i>
          </a> -->
          <!-- <a class="mu-google-plus" href="javascript:;" value="open chat" onclick="if (!window.__cfRLUnblockHandlers) return false; MyLiveChat.InlineChatDoExpand()">
            <i class="fa fa-comments social-icon"></i>
          </a> -->
          <!-- <a class="mu-youtube" href="https://www.assignmentexperts.co.uk/ae/contact/">
            <i class="fa fa-envelope social-icon"></i>
          </a> -->
        </div>

        <h5 class="text-uppercase" style="margin-top: 10px;">Contact Information</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0; font-size: 12px; font-weight: 500;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-home fa-lg mr-2"></i>{{ contactInfo.address }}          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-envelope mr-2"></i>
            <a  style="color: #000 !important;"
                class="text-decoration-none ms-2 text-black"
                href="https://mail.google.com/mail/u/0/#search/info%40smartedultd.co.uk"
              >
              {{ contactInfo.email }}
              </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-phone mr-2"></i>
            <a style="color: #000 !important;"
                class="text-decoration-none ms-2 text-black"
                href="https://api.whatsapp.com/send?phone=447586654894&amp;text=Hi%E2%80%9A%20Pro%20Assignments"
              >
              {{ contactInfo.phone }}
              </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <!-- <li style="margin-bottom: 5px; padding: 0;">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 15.002c0 1.103-.897 2-2 2h-3.586L12 21.416l-3.414-4.414H5c-1.103 0-2-.897-2-2v-10c0-1.103.897-2 2-2h14c1.103 0 2 .897 2 2v10zM7 9h10v2H7V9zm0 4h7v2H7v-2z" fill="#3A4A56"/>
            </svg>
            <a class="text-decoration-none ms-2 text-black"
              href="/samples"
              >
                Samples
              </a>
          </li> -->
        </ul>
        
        
        
        
      </div>

      <!-- Company Info -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Company</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0;">
          <li *ngFor="let link of companyLinks" class="footerContent" style="margin-bottom: 5px; padding: 0; font-size: 12px; font-weight: 500;">
            <a routerLink="{{ link.url }}" class="text-dark" style="text-decoration: none; display: block; padding: 0;">
              <span class="underline-on-hover"
               style=" padding-bottom: 0%;">
               {{ link.title }}</span>
              <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
            </a>
          </li>
          <!-- <li style="margin-bottom: 5px; padding: 0;">
            <a class="text-decoration-none text-black" style="color: #000; font-size: 13px; font-weight: 600;"
              href="/samples"
              >
              Samples
            </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;"> -->
        </ul>
      </div>
      
      
      

      <!-- Services Column 1 -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Services</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0;">
          <li *ngFor="let service of getSevenServices(0, 9)"
          class="footerContent" 
          style="margin-bottom: 5px; padding: 0; font-size: 12px; font-weight: 500;">
            <a [routerLink]="'/samples'" [queryParams]="{ service: service.id }"
             class="text-dark " 
             style="text-decoration: none; display: block; padding: 0;">
              <span class="underline-on-hover">
                {{service.title}}

              </span> 
            </a>
            <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          </li>
        </ul>
      </div>
      <!-- Services Column 2 -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Services</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0;">
          <li *ngFor="let service of getSevenServices(9, 17)"
          class="footerContent" 
          style="margin-bottom: 5px; padding: 0; font-size: 12px; font-weight: 500;">
            <a routerLink="/services/{{service.id}}"
             class="text-dark " 
             style="text-decoration: none; display: block; padding: 0;">
              <span class="underline-on-hover">
                {{service.title}}

              </span> 
            </a>
            <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          </li>
        </ul>
      </div>

      <!-- Contact Information -->
      <!-- <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Contact Information</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0; font-size: 12px; font-weight: 500;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-home fa-lg mr-2"></i>{{ contactInfo.address }}          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-envelope mr-2"></i>
            <a
                class="text-decoration-none ms-2 "
                href="https://mail.google.com/mail/u/0/#search/info%40smartedultd.co.uk"
              >
              {{ contactInfo.email }}
              </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-phone mr-2"></i>
            <a
            
                class="text-decoration-none ms-2 text-black"
                href="https://api.whatsapp.com/send?phone=447586654894&amp;text=Hi%E2%80%9A%20Pro%20Assignments"
              >
              {{ contactInfo.phone }}
              </a>
          </li>
        </ul>
      </div> -->
   
      
    </div>
  </div>

  <!-- Payment Methods -->
  <div class="text-right p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="payment-methods d-flex align-items-center justify-content-end gap-1">
      <img style="margin-top: 5px;"
      src="https://www.assignmentexperts.co.uk/images/apple-pay-google-pay-master-card-bank-min.png" width="350" height="65" class="lazyloaded pb-2 text-center" alt="payment accepting method" />
      <img src="../../../assets/images/paypal.png" style="height: 57px; border: 1px solid #000; border-radius: 8px;" />
    </div>
  </div>
</footer>
