<footer class="text-center text-lg-start" style="padding: 100px 5px 20px 10px; margin-top: 50px; bottom: 0; width: 100%; background-color: #FFF; border-top: 2px solid #000;"> 
  <!-- rgba(0, 0, 0, 0.2); -->
  <div class="container-fluid" style="width: 90%; margin: 0 auto;">
    <div class="row">
      <!-- Logo div -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <a routerLink="/" style="cursor: pointer;">
          <img src="../../../assets//images/logo pro (2).png" alt="" style="width: 200px;">
        </a>
        <p style="font-size: 12px; line-height: 1.4;">
          Dissertation Writing UK is renowned for quality writing in London | Leeds | Liverpool | Birmingham | Oxford | Croydon | Manchester | Sheffield | Leicester | Luton
        </p>
        <hr style="border-top: 1px solid #000; width: 100%;">
        <div class="mu-social-media" style="margin-bottom: 10px;">
          <style>
            .social-icon {
              font-size: 20px;
              color: #fff;
              transition: transform 0.2s, opacity 0.2s;
            }
        
            .social-icon:hover {
              transform: scale(1.6);
              opacity: 1;
            }
          </style>
        
          <a href="https://www.facebook.com/profile.php?id=61557650182728" target="_blank">
            <i class="fa fa-facebook social-icon"></i>
          </a>
          <a  class="mu-whatsapp "  href="https://api.whatsapp.com/send?phone=4564654654&amp;text=Hi%E2%80%9A%20Assignment%20Experts" target="_blank">
            <i class="fa fa-whatsapp social-icon"></i>
          </a>
          
          <!-- Floating Whatsapp -->
          <!-- <a style="height: 50px; width: 50px;" class="mu-whatsapp my-floatoo floatoo" href="https://api.whatsapp.com/send?phone=4564654654&amp;text=Hi%E2%80%9A%20Assignment%20Experts" target="_blank">
            <i style="font-size: 40px;" class="fa fa-whatsapp social-icon"></i>
        </a>         -->
        
          <!-- <a class="mu-twitter" href="https://www.twitter.com/" target="_blank">
            <i class="fa fa-twitter social-icon"></i>
          </a> -->
          <!-- <a class="mu-google-plus" href="javascript:;" value="open chat" onclick="if (!window.__cfRLUnblockHandlers) return false; MyLiveChat.InlineChatDoExpand()">
            <i class="fa fa-comments social-icon"></i>
          </a> -->
          <!-- <a class="mu-youtube" href="https://www.assignmentexperts.co.uk/ae/contact/">
            <i class="fa fa-envelope social-icon"></i>
          </a> -->
        </div>

        <h5 class="text-uppercase" style="margin-top: 10px;">Contact Information</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0; font-size: 12px; font-weight: 500;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-home fa-lg mr-2"></i>{{ contactInfo.address }}          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-envelope mr-2"></i>
            <a  style="color: #000 !important;"
                class="text-decoration-none ms-2 text-black"
                href="https://mail.google.com/mail/u/0/#search/info%40smartedultd.co.uk"
              >
              {{ contactInfo.email }}
              </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-phone mr-2"></i>
            <a style="color: #000 !important;"
                class="text-decoration-none ms-2 text-black"
                href="https://api.whatsapp.com/send?phone=447586654894&amp;text=Hi%E2%80%9A%20Pro%20Assignments"
              >
              {{ contactInfo.phone }}
              </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <!-- <li style="margin-bottom: 5px; padding: 0;">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 15.002c0 1.103-.897 2-2 2h-3.586L12 21.416l-3.414-4.414H5c-1.103 0-2-.897-2-2v-10c0-1.103.897-2 2-2h14c1.103 0 2 .897 2 2v10zM7 9h10v2H7V9zm0 4h7v2H7v-2z" fill="#3A4A56"/>
            </svg>
            <a class="text-decoration-none ms-2 text-black"
              href="/samples"
              >
                Samples
              </a>
          </li> -->
        </ul>
        
        
        
        
      </div>

      <!-- Company Info -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Company</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0;">
          <li *ngFor="let link of companyLinks" class="footerContent" style="margin-bottom: 5px; padding: 0; font-size: 12px; font-weight: 500;">
            <a routerLink="{{ link.url }}" class="text-dark" style="text-decoration: none; display: block; padding: 0;">
              <span class="underline-on-hover"
               style=" padding-bottom: 0%;">
               {{ link.title }}</span>
              <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
            </a>
          </li>
          <li style="margin-bottom: 5px; padding: 0;">
            <!-- <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21 15.002c0 1.103-.897 2-2 2h-3.586L12 21.416l-3.414-4.414H5c-1.103 0-2-.897-2-2v-10c0-1.103.897-2 2-2h14c1.103 0 2 .897 2 2v10zM7 9h10v2H7V9zm0 4h7v2H7v-2z" fill="#3A4A56"/>
            </svg> -->
            <a class="text-decoration-none text-black" style="color: #000; font-size: 13px; font-weight: 600;"
              href="/samples"
              >
              Samples
            </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
        </ul>
      </div>
      
      
      

      <!-- Services Column 1 -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Services</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0;">
          <li *ngFor="let service of getSevenServices(0, 9)"
          class="footerContent" 
          style="margin-bottom: 5px; padding: 0; font-size: 12px; font-weight: 500;">
            <a [routerLink]="'/samples'" [queryParams]="{ service: service.id }"
             class="text-dark " 
             style="text-decoration: none; display: block; padding: 0;">
              <span class="underline-on-hover">
                {{service.title}}

              </span> 
            </a>
            <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          </li>
        </ul>
      </div>
      <!-- Services Column 2 -->
      <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Services</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0;">
          <li *ngFor="let service of getSevenServices(9, 17)"
          class="footerContent" 
          style="margin-bottom: 5px; padding: 0; font-size: 12px; font-weight: 500;">
            <a routerLink="/services/{{service.id}}"
             class="text-dark " 
             style="text-decoration: none; display: block; padding: 0;">
              <span class="underline-on-hover">
                {{service.title}}

              </span> 
            </a>
            <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          </li>
        </ul>
      </div>

      <!-- Contact Information -->
      <!-- <div class="col-lg-3 col-md-6 mb-4" style="padding: 10px; border-radius: 5px;">
        <h5 class="text-uppercase">Contact Information</h5>
        <ul class="list-unstyled" style="margin: 0; padding: 0; font-size: 12px; font-weight: 500;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-home fa-lg mr-2"></i>{{ contactInfo.address }}          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-envelope mr-2"></i>
            <a
                class="text-decoration-none ms-2 "
                href="https://mail.google.com/mail/u/0/#search/info%40smartedultd.co.uk"
              >
              {{ contactInfo.email }}
              </a>
          </li>
          <hr style="border-top: 1px solid #ccc; width: 100%; margin: 0;">
          <li style="margin-bottom: 5px; padding: 0;">
            <i class="fa fa-phone mr-2"></i>
            <a
            
                class="text-decoration-none ms-2 text-black"
                href="https://api.whatsapp.com/send?phone=447586654894&amp;text=Hi%E2%80%9A%20Pro%20Assignments"
              >
              {{ contactInfo.phone }}
              </a>
          </li>
        </ul>
      </div> -->
   
      
    </div>
  </div>

  <!-- Payment Methods -->
  <div class="text-right p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="payment-methods d-flex align-items-center justify-content-end gap-1">
      <img style="margin-top: 5px;"
      src="https://www.assignmentexperts.co.uk/images/apple-pay-google-pay-master-card-bank-min.png" width="350" height="65" class="lazyloaded pb-2 text-center" alt="payment accepting method" />
      <img src="../../../assets/images/paypal.png" style="height: 57px; border: 1px solid #000; border-radius: 8px;" />
    </div>
  </div>
</footer>
