




<!-- <section  class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">

                <div class="title-block">
                    <h1>About Us</h1>
                    <ul class="header-bradcrumb justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li class="active" aria-current="page">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->
<app-slider [aboutUs]="true"></app-slider>
<!-- InstructorsSection Start -->
<section class="instructors section-padding">
    <div class="container-fluid" style="max-width:80%;margin:0 auto">
        <div class="row align-items-center">
            <div class="col-xl-6 pe-5">
                <div class="section-heading text-justify" >
                    <span class="subheading">Who We Are</span>
                    <h2 class="font-lg mb-20">About Us</h2>
                    <p class="mb-30"  >The main purpose of Dissertation Writing is to help students who are unable to manage
                        their work and studies. However, writing assignments benefit all students and allow them to
                        develop their creativity and showcase their knowledge. Most of the assignments are given to
                        students to develop their writing and thinking skills related to various course topics. On the
                        other hand, the pressure put on students is not conducive to their mental health, and the fact
                        that students are saddled with a load of assignments is not fair at all.</p>
                    <p class="mb-30">University life is memorable for most people because you get to meet new people,
                        learn new things and enjoy the rest of your time. Assignments and projects are two big things
                        that get in the way of any student's life. They are so busy with their projects and their work
                        that they forget to enjoy the best moments of their university life. When assignment writing
                        consulting companies come to offer help, the company only offers help to students who are
                        struggling to manage their work and studies to lighten their load.</p>
                    <a routerLink="/order" class="btn btn-main rounded">Order Now</a>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="row">
                    <img src="../../assets/images/about/abouttwo.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!--Instructors Section End -->
<!-- About Section Start -->
<section class="about-3  section-padding-btm">
    <div class="container-fluid" style="max-width:80%;margin:0 auto">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="about-img">
                    <img src="../../assets/images/banner/img_9.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 text-justify" >
                <div class="about-content mt-5 mt-lg-0" >
                    <div class="heading mb-50">
                        <span class="subheading">Consultancy</span>
                        <h2 class="font-lg mb-30">Success Rate</h2>
                        <p class="mb-30">
                            We've improved and updated our service over the years to create a safe learning environment
                            for our users. We don't just want to be a writing company, we also strive to be your advisor
                            and guide you by providing you with valuable feedback and content.
                        </p>
                        <p class="mb-30">
                            As a trusted company, fully aware of the scholastic requirements for your writing
                            assignments, we follow certain principles that should make our work as efficient as
                            possible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section END -->
<!-- Counter Section start -->
<section class="counter-section4 section-padding">
    <div class="container-fluid" style="max-width:80%;margin:0 auto">
        <div class="row justify-content-center">
            <div class="col-xl-12 counter-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">10K</span><span>+</span>
                            </div>
                            <p>Clients</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">20K</span><span>+</span>
                            </div>
                            <p>Assignments</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item mb-5 mb-lg-0">
                            <div class="count">
                                <span class="counter h2">100</span><span>+</span>
                            </div>
                            <p>Writers</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="counter-item">
                            <div class="count">
                                <span class="counter h2">100</span><span>%</span>
                            </div>
                            <p>Satisfaction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COunter Section End -->
<!-- Testimonial section start -->
<section class="testimonial-3 section-padding" style="background-color: #9ed5d5;">
    <div class="container-fluid" style="max-width:80%;margin:0 auto">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section-heading text-center">
                    <h2 class="font-lg" style="color: #fff;">Our Students Says</h2>
                    <p style="color: #fff;">Discover Your Perfect Program In Our Courses.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <app-testimonials [aboutUs]="true"></app-testimonials>
        </div>
    </div>
</section>
<!-- Testimonial section End -->
<!-- Work Process Section Start -->
<section class="work-process section-padding">
    <div class="container-fluid" style="max-width:80%;margin:0 auto">
        <div class="row mb-70 justify-content-between">
            <div class="col-xl-12 col-lg-12">
                <div class="section-heading mb-4 text-center">
                    <span class="subheading">Our Goal</span>
                    <h2 class="font-lg mb-4">Main Objective</h2>
                    <p>Our main goal is to serve students who are unable to manage their work and studies, and every
                        student needs professional help to help them excel in their careers. Completing assignment
                        automatically helps improve students' thinking and creative skills. However, in some cases where
                        students are unable to manage their work when our company steps in to offer its services,
                        students will choose a better but profitable path in their future working life by doing
                        assignments.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-xl-7 pe-xl-5 col-lg-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="step-item ">
                            <div class="step-number bg-1">01</div>
                            <div class="step-text">
                                <p>Truthfulness is ethical behavior and concept authors are encouraged to convey
                                    truthful statements to their customers. We believe in relationships with our
                                    customers and being honest is an effective way to build lasting relationships with
                                    our customers.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="step-item">
                            <div class="step-number bg-2">02</div>
                            <div class="step-text">
                                <p>The concept creators also believe in employee relations. We encourage them to work as
                                    a team. Teamwork helps employees get to know each other and accomplish their tasks
                                    in a pleasant environment.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="step-item ">
                            <div class="step-number bg-3">03</div>
                            <div class="step-text">
                                <p>Time management is very important in our organization's culture because we believe it
                                    can help our company to do more in less time. Likewise, punctual delivery of
                                    customer's order is our main goal to satisfy our customers.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-5 col-lg-12">
                <!-- <div class="video-section mt-5 mt-xl-0"> -->
                    <!-- <div class="video-content"> -->
                        <img src="../../assets/banners/banner3.jpg" alt="" class="img-fluid">
                        <!-- <a href="#" class="video-icon video-popup"><i class="fa fa-play"></i></a> -->
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</section>