<!-- <section  class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">

                <div class="title-block">
                    <h1>About Us</h1>
                    <ul class="header-bradcrumb justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li class="active" aria-current="page">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->
<style>
    /* Example CSS styling */
.counter-section4 {
  padding: 20px;
}

</style>
<!-- <app-slider [aboutUs]="true"></app-slider> -->

<div class="banner-about-us" 
  [ngStyle]="{
      'background-image': 'url(' + slides.imageUrl + ')',
      'background-size': 'cover',
      'background-position': 'center',
      'height': '450px',
      'display': 'flex',
      'justify-content': 'center',
      'align-items': 'center',
      'width': '100%'
  }"
>
  <!-- <div class="banner-overlay"></div> -->
  <div class="banner-content-container d-flex justify-content-center w-90">
      <div class="banner-content d-flex justify-content-center">
          <div class="banner-title">
              <h1 class="banner-heading">{{ slides.heading }}</h1>
              <div class="banner-text" [innerHTML]="slides.text"></div>
              <div class="banner-buttons mt-2 d-flex justify-content-center">
                  <button (click)="navigateToOrder()" class="banner-order-now">ORDER NOW</button>
              </div>
          </div> 
      </div>
  </div>
</div>






<!-- InstructorsSection Start -->

<!-- <section class="instructors section-padding">
  <div class="container-fluid" style="max-width: 80%; margin: 0 auto">
    <div class="row align-items-center">
      <div class="col-xl-6">
        <div class="row" style="border: 1px solid black; height: 596px; width: 718px;" >
          <img
            src="../../assets/images/about/abouttwo.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-6 pe-5">
        <div class="section-heading text-justify">
          <h2 class="font-lg mb-20">About Us</h2>
          <p class="mb-30">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="mb-30">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <button
            id="convo_btn"
            class="btn rounded mr-1"
            style="background-color: #242961; color: white"
          >
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="instructors section-padding" [innerHTML]="aboutUsSectionBelowSlider">
  <!-- <div class="container-fluid" style="max-width: 80%; margin: 0 auto">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-12 mb-4 mb-lg-0">
        <div class="image-container">
          <img src="../../assets/images/about/abouttwo.png" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 pe-5">
        <div class="section-heading text-justify">
          <h2 class="font-lg mb-20">About Us</h2>
          <p class="mb-30">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="mb-30">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
          <button id="convo_btn" class="btn rounded mr-1 btn-main">
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div> -->
</section>

<!--Instructors Section End -->
<!-- About Section Start -->
<!-- <section class="about-3 section-padding-btm">
  <div class="container-fluid" style="max-width: 80%; margin: 0 auto">
    <div class="row align-items-center justify-content-between">
      <div class="col-xl-5 col-lg-6">
        <div class="about-img">
          <img
            src="../../assets/images/banner/img_9.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 text-justify">
        <div class="about-content mt-5 mt-lg-0">
          <div class="heading mb-50">
            <span class="subheading">Consultancy</span>
            <h2 class="font-lg mb-30">Success Rate</h2>
            <p class="mb-30">
              We've improved and updated our service over the years to create a
              safe learning environment for our users. We don't just want to be
              a writing company, we also strive to be your advisor and guide you
              by providing you with valuable feedback and content.
            </p>
            <p class="mb-30">
              As a trusted company, fully aware of the scholastic requirements
              for your writing assignments, we follow certain principles that
              should make our work as efficient as possible.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- About Section END -->
<!-- Counter Section start -->
<!-- <section class="counter-section4 section-padding">
  <div class="container-fluid" style="max-width: 80%; margin: 0 auto">
    <div class="row justify-content-center">
      <div class="col-xl-12 counter-inner">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="counter-item mb-5 mb-lg-0">
              <div class="count">
                <span class="counter h2">10K</span><span>+</span>
              </div>
              <p>Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="counter-item mb-5 mb-lg-0">
              <div class="count">
                <span class="counter h2">20K</span><span>+</span>
              </div>
              <p>Assignments</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="counter-item mb-5 mb-lg-0">
              <div class="count">
                <span class="counter h2">100</span><span>+</span>
              </div>
              <p>Writers</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="counter-item">
              <div class="count">
                <span class="counter h2">100</span><span>%</span>
              </div>
              <p>Satisfaction</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- COunter Section End -->
<!-- Testimonial section start -->


<section class="counter-section4 section-padding mt-4 mb-4">
  <div class="container-fluid" style="max-width: 70%; margin: 0 auto;">
      <h1  style="margin: 0 auto; padding: 20px; text-align: center; color: #242961; word-spacing: 25;" >Don't Just Take Our World and Have a Look at Our Top Features</h1>
    <app-accordion [items]="accordionData"></app-accordion>
  </div>
</section>
  
  
  
<!-- <section
  class="testimonial-3 section-padding"
  style="background-color: #242961"
>
  <div class="container-fluid" style="max-width: 80%; margin: 0 auto">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="section-heading text-center">
          <h2 class="font-lg" style="color: #fff">Our Students Says</h2>
          <p style="color: #fff; text-align: center;">
            Discover Your Perfect Program In Our Courses.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <app-testimonials [aboutUs]="true"></app-testimonials>
    </div>
  </div>
</section> -->

<app-home-testimonial-section></app-home-testimonial-section>



<!-- Testimonial section End -->
<!-- Work Process Section Start -->
<section class="work-process section-padding" 
[innerHTML]="ourGoalOrMainObjectivesSection"
>
  <!-- <div class="container-fluid" style="max-width: 80%; margin: 0 auto">
    <div class="row mb-70 justify-content-between">
      <div class="col-xl-12 col-lg-12">
        <div class="section-heading mb-4 text-center">
          <span class="subheading">Our Goal</span>
          <h2 class="font-lg mb-4">Main Objective</h2>
          <p>
            Our main goal is to serve students who are unable to manage their
            work and studies, and every student needs professional help to help
            them excel in their careers. Completing assignment automatically
            helps improve students' thinking and creative skills. However, in
            some cases where students are unable to manage their work when our
            company steps in to offer its services, students will choose a
            better but profitable path in their future working life by doing
            assignments.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-xl-7 pe-xl-5 col-lg-12">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="step-item">
              <div class="step-number bg-1">01</div>
              <div class="step-text">
                <p>
                  Truthfulness is ethical behavior and concept authors are
                  encouraged to convey truthful statements to their customers.
                  We believe in relationships with our customers and being
                  honest is an effective way to build lasting relationships with
                  our customers.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="step-item">
              <div class="step-number bg-2">02</div>
              <div class="step-text">
                <p>
                  The concept creators also believe in employee relations. We
                  encourage them to work as a team. Teamwork helps employees get
                  to know each other and accomplish their tasks in a pleasant
                  environment.
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="step-item">
              <div class="step-number bg-3">03</div>
              <div class="step-text">
                <p>
                  Time management is very important in our organization's
                  culture because we believe it can help our company to do more
                  in less time. Likewise, punctual delivery of customer's order
                  is our main goal to satisfy our customers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-lg-12">
        <img src="../../assets/banners/banner3.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div> -->
</section>
