<div class="mt-5 container-fluid" style="min-width: 95%">
    <div class="row">
      <div class="">
        <div class="">
          <div class="card p-3" *ngIf="addService">
            <a href="javascript:;" style="width: 100px;" (click)="addService=!addService">
              <i class="fa fa-arrow-left" style="font-size: 27px;"></i>
            </a>
            <form class="" [formGroup]="servicesForm">
              <!-- ... your form inputs ... -->
              <input type="submit" (click)="submitForm('edit')" *ngIf="selectedService" value="UPDATE" class="btn btn-primary" />
            </form>
          </div>
          <div class="card p-3" *ngIf="!addService">
            <div class="card-body p-0 table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>S no</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Password</th>
                    <th width="300">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users; let i = index">
                    <tr *ngFor="let user of users;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone_number}}</td>
                        <td>{{user.password}}</td>
                        <td *ngIf="deleteClient !== i"><button (click)="showAddService(user)" class="btn-sm btn-primary m-2">Edit
                        </button><button (click)="checkDelete(i,user)" class="btn-sm btn-danger m-2">Delete
                        </button></td>
                        <td *ngIf="deleteClient === i">
                            <input type="password" style="width: 50%;" placeholder="Enter code" [(ngModel)]="deleteCode" />
                            <input type="submit" value="Delete" class="btn-sm btn-danger ml-2" (click)="deleteUser()" />
                        </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  