<div class="main_container_giveaways">
  <div class="giveaways-container">
    <div class="giveaways-header">
      <h2>Our Giveaways</h2>
    </div>

    <div class="giveaways-list">
      <div class="giveaway-item">
        <span>Plagiarism Report</span>
        <span>for <del>£20</del> <strong>Free</strong></span>
      </div>
      <div class="giveaway-item">
        <span>Formatting</span>
        <span>for <del>£12</del> <strong>Free</strong></span>
      </div>
      <div class="giveaway-item">
        <span>Title page</span>
        <span>for <del>£10</del> <strong>Free</strong></span>
      </div>
      <div class="giveaway-item">
        <span>Bibliography</span>
        <span>for <del>£18</del> <strong>Free</strong></span>
      </div>
      <div class="giveaway-item">
        <span>Outline</span>
        <span>for <del>£9</del> <strong>Free</strong></span>
      </div>
      <div class="giveaway-item">
        <span>Limitless Amendments</span>
        <span>for <del>£14</del> <strong>Free</strong></span>
      </div>
    </div>

    <div class="total-savings">
      <p>Get all these features for</p>
      <p class="total-price"><del>£83.00</del> <strong>FREE</strong></p>
    </div>

    <button class="order-now-btn" (click)="handleNavigate('/order')">ORDER NOW</button>
  </div>

  <div class="testimonial-container">
    <div class="giveaways-header">
      <h2>TESTIMONIALS</h2>
    </div>
    <p class="testimonial-text mt-3 text-center">
      The dissertation I wrote was completely useless. I came here to use the proofreading service, and they told me the whole dissertation does not make sense. It should be rewritten. I asked them to write my dissertation. Now it looks perfect.
    </p>
    <button class="review-btn" (click)="handleNavigate('all-testimonials')">See Testimonial</button>
  </div>
</div>
