<section class="" [innerHTML]="assistantInfo"></section>







<!-- <div class="assist-container">
  <div class="assist-container-header">
    <h1>Where Can dissertationwriting.help Assist You ?</h1>
    <p>Venturing on a dissertation is a significant academic milestone.<br />
      It is more than just meeting a requirement; it is about crafting an exceptional piece that showcases your expertise and critical thinking abilities.<br />
      Here is how we can assist you:</p>
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div class="features-container-assis">
      
      <div class="feature-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" fill="#242961"/>
          </svg>
        </div>
        <div class="text-container">
          <h3>Unique Topic Selection</h3>
          <p>Our expert team can guide you in selecting a relevant, unique, and impactful topic that aligns with your academic interests and future goals.</p>
        </div>
      </div>

      <div class="feature-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21 16.54 14.14 22 9.24 14.81 8.63 12 2 9.19 8.63 2 9.24 7.46 14.14 5.82 21z" fill="#242961"/>
          </svg>
        </div>
        <div class="text-container">
          <h3>Thorough Research</h3>
          <p>Our writers excel at conducting in-depth research from credible sources, ensuring your dissertation is abundant with pertinent and current information.</p>
        </div>
      </div>

      <div class="feature-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 2L1 9l11 7 9-5.98V19H8v2h16V9L12 2zm0 13L4.33 9 12 4.33 19.67 9 12 15z" fill="#242961"/>
          </svg>
        </div>
        <div class="text-container">
          <h3>Precise Writing</h3>
          <p>A standout dissertation is one that is clearly and accurately written. Our writers have the talent to communicate complex ideas engagingly and understandably.</p>
        </div>
      </div>

      <div class="feature-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zM9.5 11H7v2h2.5l1.5 3h2.5l1.5-3H17v-2h-2.5L13 8H9.5l-1.5 3z" fill="#242961"/>
          </svg>
        </div>
        <div class="text-container">
          <h3>Detailed Analysis</h3>
          <p>Our team is trained to conduct a comprehensive analysis, interpreting the research findings in the context of existing theories and concepts.</p>
        </div>
      </div>

      <div class="feature-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" fill="#242961"/>
          </svg>
        </div>
        <div class="text-container">
          <h3>Editing and Proofreading</h3>
          <p>Small errors can leave a big impact. Our professional editors ensure your dissertation is free from errors and formatted consistently.</p>
        </div>
      </div>

      <div class="feature-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 17.27L18.18 21 16.54 14.14 22 9.24 14.81 8.63 12 2 9.19 8.63 2 9.24 7.46 14.14 5.82 21z" fill="#242961"/>
          </svg>
        </div>
        <div class="text-container">
          <h3>Compliance with Academic Standards</h3>
          <p>Our team is familiar with various academic citation styles and dissertation structures required by UK universities. We ensure your dissertation meets these standards, enhancing its academic value.</p>
        </div>
      </div>

    </div>
  </div>
</div> -->
























<!-- <div class="assist-container">
  <div class="assist-container-header">
      <h1>Where Can dissertationwriting.help Assist You ?</h1>
      <p>Venturing on a dissertation is a significant academic milestone.<br /> It is more than just meeting a requirement; it is about crafting an exceptional piece that showcases your expertise and critical thinking abilities.<br /> Here is how we can assist you:</p>
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div class="features-container-assis">
        <div class="feature-item" *ngFor="let item of assistanceItems" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M9 16.17L4.83 12 3.41 13.41 9 19l12-12L19.59 5.59z" fill="#242961"/>
            </svg>
          </div>
          <div class="text-container">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
          </div>
        </div>
    </div>
  </div>
</div> -->
