<!-- <section class="page-header" *ngIf="!orderRecieved">
  <div class="container">
    <div class="row justify-content-center" style="border: 1px solid red;">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <h1>Order Now</h1>
          <ul class="header-bradcrumb justify-content-center">
            <li><a href="/">Home</a></li>
            <li class="active" aria-current="page">Order</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- About Section Start -->

<section class="pt-2" *ngIf="!orderRecieved" style="margin: 0 auto; background-color: whitesmoke;" >
  <section style="margin: 0 auto; width: 70%;">
    <nav aria-label="">
      <ol class="breadcrumb justify-content-lefy" style="background-color: transparent;" >
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order</li>
      </ol>
    </nav>
  </section>
  <div style="margin: 0 auto; width: 70%; background-color: whitesmoke;">

    <div class="container-fluid" style="padding: 30px;">
      <div class="row">
        <div class="col-xl-12 col-lg-12">
          <app-order-form [categories]="categories" (orderEvent)="submitOrder($event)"></app-order-form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-checkout *ngIf="orderRecieved" [orderDetails]="orderDetails"></app-checkout>
