<!-- <div class="personal-manager-container">
    <div class="personal-manager-content">
      <div class="image-container">
        <img src="../../assets/images/5143158.jpg" alt="Personal Manager">
      </div>
      <div class="text-container">
        <h2>Personal manager to assist you</h2>
        <p>If you encounter any issues or have specific requests, we will do our best to address them and meet your expectations. Our customer support team is available to assist you throughout the process. Feel free to contact us with any questions, concerns, or inquiries you may have.</p>
        <p><strong>Together let's transform your ideas into reality with our dissertation writing services!</strong></p>
        <div class="buttons-container">
          <button class="btn live-chat">
            <i class="fa fa-comment"></i> <span>Start live chat</span>
          </button>
          <button class="btn whatsapp">
            <i class="fa fa-whatsapp"></i> <span>Text on WhatsApp</span>
          </button>
        </div>
      </div>
    </div>
    <div class="confidentiality-section">
      <h3>Confidentiality:</h3>
      <ul>
        <li>We maintain strict confidentiality regarding your personal information and the content of your dissertation.</li>
        <li>Your work will not be shared with any third parties, ensuring the security and privacy of your academic endeavor.</li>
      </ul>
    </div>
</div>   -->