<div class="main-container">
  <div class="left-section">
    <div class="form-section">
      <h2>How much will your dissertation cost?</h2>
      <form #dissertationForm="ngForm" (ngSubmit)="checkPrice()">
        <div class="form-group">
          <select class="form-control" name="service" ngModel required>
            <option value="" disabled selected>Dissertation Topic</option>
            <option *ngFor="let topic of sortedTopics" [value]="topic.title">
              {{ topic.title }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="serviceType" ngModel required>
            <option value="" disabled selected>Service Type</option>
            <option *ngFor="let service of serviceType" [value]="service.title">
              {{ service.title }}
            </option>
          </select>
        </div>
        <h4>Select Your Academic Level</h4>
        <div class="form-group">
          <select class="form-control" name="academicLevel" ngModel required>
            <option value="" disabled selected>Select Academic Level</option>
            <option *ngFor="let academic of academicLevels" [value]="academic.title">
              {{ academic.title }}
            </option>
          </select>
        </div>
        <h4>Select Deadline :</h4>
        <div class="form-group">
          <input type="date" class="form-control" name="deadline" ngModel required>
        </div>
        <button type="submit" class="btn check-price-btn" >Check Price</button>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        <div *ngIf="totalPrice != 0" class="alert alert-success mt-3">Total Price is: {{ totalPrice }}</div>
      </form>
    </div>
    <div class="blue-section">
      <div class="position-relative d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <img src="../../assets/chat-gpt.png" style="width: 50px;" alt="Chat GPT Icon" />
          <span style="font-size: 30px;">ChatGPT</span>
        </div>
        <p style="font-size: 50px; color: red; position: absolute; top: 5px; opacity: 0.6;">X</p>
      </div>
      <p>
        The services provided by Assignment Experts UK are 100% original and custom written.
        We never use any paraphrasing tool, any software to generate content for e.g., Chat GPT and all other content writing tools.
        We ensure that the work produced by our writers is self-written and 100% plagiarism-free.
      </p>
      <button>DISCOVER MORE</button>
    </div>
  </div>
  <div class="right-section">
    <div class="header-container">
      <h1>1000+ FREE Research Topics & Title Ideas</h1>
      <hr />
      <p>
        If you're at the start of your research journey and are trying to figure out which
        <strong>research topic</strong> you want to focus on, you've come to the right place.
        Select your area of interest below to view a comprehensive collection of potential research ideas.
      </p>
    </div>
    <div class="alphabet-container">
      <ng-container *ngFor="let letter of alphabet">
        <input #radioButton type="radio" id="{{letter}}" name="alphabet" (click)="sortTopics(letter)" />
        <label for="{{letter}}">{{ letter }}</label>
      </ng-container>
      <button class="clear-btn" (click)="clearTopic()">Clear</button>
    </div>
    <div class="topics-container">
      <div *ngIf="sortedTopics.length === 0" class="no-topics">
        No available topics with that alphabet.
      </div>
      <div class="topic-box" *ngFor="let topic of sortedTopics; let i = index">
        <div (click)="toggle(i)" class="topic-header">
          <svg *ngIf="expandedIndex !== i" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.646 12.354a.5.5 0 0 1-.708-.708L9.793 8 5.938 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4z"/>
          </svg>
          <svg *ngIf="expandedIndex === i" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
          </svg>
          <span style="margin-left: 8px;">{{ topic.title }}</span>
          <span></span>
        </div>
        <div [ngClass]="{'collapse': true, 'show': expandedIndex === i}" class="topic-content">
          <p>{{ topic.description }}</p>
          <p><strong>Price:</strong> {{ topic.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>