.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-section {
  /* min-width: 40%; */
  max-width: 450px;
  padding: 20px;
  box-sizing: border-box;
}

.form-section, .blue-section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.form-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.form-section h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.form-section .form-group {
  margin-bottom: 15px;
}

.form-section .form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.form-section button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #0056b3;
}

.blue-section {
  background-color: #242961;
  color: white;
  text-align: center;
}

.blue-section img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.blue-section p {
  margin: 10px 0;
}

.blue-section button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.blue-section button:hover {
  background-color: #0056b3;
}

.right-section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header-container {
  text-align: center;
  margin-bottom: 40px;
}

.header-container h1 {
  font-size: 28px;
  font-weight: bold;
}

.header-container hr {
  border: none;
  border-top: 2px solid orange;
  width: 250px;
  margin: 10px auto;
}

.header-container p {
  font-size: 16px;
  color: #666;
}

.alphabet-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.alphabet-container label, .clear-btn {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #242961;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.clear-btn {
  padding: 0 10px;
  height: 42px;
}

.alphabet-container label:hover, .clear-btn:hover {
  background-color: #242961;
  color: white;
}

.clear-btn:hover {
  background-color: green;
  border: 1px solid green;
  color: white;
}

.alphabet-container input[type="radio"] {
  display: none;
}

.alphabet-container input[type="radio"]:checked + label {
  background-color: #242961;
  color: white;
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.topic-box {
  /* padding: 10px; */
  border: 1px solid #242961;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  /* width: 300px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic-header:hover {
  background-color: #242961;
  color: #FFF;
}

.topic-header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
}

.topic-content {
  display: none;
  text-align: left;
  margin-top: 10px;
  padding: 5px 12px 12px 12px;
}

.topic-content.show {
  display: block;
}

.no-topics {
  font-size: 18px;
  color: red;
  width: 100%;
  text-align: center;
}


.check-price-btn {
  background-color: #242A61 !important; 
  color: #FFF;
}

.check-price-btn:hover {
  background-color: #232b7a !important; 
}


.highlighted {
  background-color: #232b7a; /* or any color you prefer */
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}