
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="typeOfService">Type of Service*</label>
      <select class="form-control" formControlName="typeOfService" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let service of typeOfServices" [value]="service.title">{{ service.title }}</option>
      </select>
      <div *ngIf="orderForm.get('typeOfService')?.invalid && orderForm.get('typeOfService')?.touched" class="text-danger">
        Type of Service is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="subjectArea">Subject Area*</label>
      <select class="form-control" formControlName="subjectArea" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let subject of subjectAreas" [value]="subject.title">{{ subject.title }}</option>
      </select>
      <div *ngIf="orderForm.get('subjectArea')?.invalid && orderForm.get('subjectArea')?.touched" class="text-danger">
        Subject Area is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="level">Level*</label>
      <select class="form-control" formControlName="level" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let type of academicLevel" [value]="type.title">{{ type.title }}</option>
      </select>
      <div *ngIf="orderForm.get('level')?.invalid && orderForm.get('level')?.touched" class="text-danger">
        Level is required.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="requiredWordCount">Required Word Count*</label>
      <input type="number" class="form-control" formControlName="requiredWordCount" required (input)="calculateTotalPrice()" />
      <div *ngIf="orderForm.get('requiredWordCount')?.invalid && orderForm.get('requiredWordCount')?.touched" class="text-danger">
        Required Word Count is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="desiredGrade">Desired Grade*</label>
      <select class="form-control" formControlName="desiredGrade" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let grade of desiredGrades" [value]="grade.title">{{ grade.title }}</option>
      </select>
      <div *ngIf="orderForm.get('desiredGrade')?.invalid && orderForm.get('desiredGrade')?.touched" class="text-danger">
        Desired Grade is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="deadline">Deadline*</label>
      <select class="form-control" formControlName="deadline" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let deadline of deadlines" [value]="deadline.title">{{ deadline.title }}</option>
      </select>
      <div *ngIf="orderForm.get('deadline')?.invalid && orderForm.get('deadline')?.touched" class="text-danger">
        Deadline is required.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="topic">Topic*</label>
      <select class="form-control" formControlName="topic" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let topic of topics" [value]="topic.title">{{ topic.title }}</option>
      </select>
      <div *ngIf="orderForm.get('topic')?.invalid && orderForm.get('topic')?.touched" class="text-danger">
        Topic is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="referencingStyle">Referencing Style*</label>
      <select class="form-control" formControlName="referencingStyle" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let style of referencingStyles" [value]="style.title">{{ style.title }}</option>
      </select>
      <div *ngIf="orderForm.get('referencingStyle')?.invalid && orderForm.get('referencingStyle')?.touched" class="text-danger">
        Referencing Style is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="numberOfReferences">Number of References*</label>
      <input type="number" class="form-control" formControlName="numberOfReferences" required (input)="calculateTotalPrice()" />
      <div *ngIf="orderForm.get('numberOfReferences')?.invalid && orderForm.get('numberOfReferences')?.touched" class="text-danger">
        Number of References is required.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="email">Email*</label>
      <input type="email" class="form-control" formControlName="email" required />
      <div *ngIf="orderForm.get('email')?.invalid && orderForm.get('email')?.touched" class="text-danger">
        Valid email is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="contactNumber">Contact Number*</label>
      <input type="tel" class="form-control" formControlName="contactNumber" required />
      <div *ngIf="orderForm.get('contactNumber')?.invalid && orderForm.get('contactNumber')?.touched" class="text-danger">
        Contact Number is required.
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="universityName">University Name*</label>
      <input type="text" class="form-control" formControlName="universityName" required />
      <div *ngIf="orderForm.get('universityName')?.invalid && orderForm.get('universityName')?.touched" class="text-danger">
        University Name is required.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="turnitin">Turnitin Report Available*</label>
      <div class="d-flex gap-4">
        <label class="radio-inline">
          <input type="radio" formControlName="turnitin" value="Yes" required /> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" formControlName="turnitin" value="No" required /> No
        </label>
      </div>
      <div *ngIf="orderForm.get('turnitin')?.invalid && orderForm.get('turnitin')?.touched" class="text-danger">
        Turnitin Report selection is required.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="detailInstructions">Detail Instructions*</label>
      <textarea class="form-control" formControlName="detailInstructions" rows="10" required style="height: 200px; overflow: auto;"></textarea>
      <div *ngIf="orderForm.get('detailInstructions')?.invalid && orderForm.get('detailInstructions')?.touched" class="text-danger">
        Detail Instructions are required.
      </div>
    </div>
  </div>

  <div class="total-price-box mb-3">
    <h4>Total Price: £{{ gbpTotalCost | number: '1.0-0' }}</h4>
  </div>
  <button type="submit" class="btn btn-primary btn-block bg-my-color">Submit Order</button>
</form>




















<!-- <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="typeOfService">Type of Service*</label>
      <select class="form-control" formControlName="typeOfService" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let service of typeOfServices" [value]="service.title">{{ service.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="subjectArea">Subject Area*</label>
      <select class="form-control" formControlName="subjectArea" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let subject of subjectAreas" [value]="subject.title">{{ subject.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="level">Level*</label>
      <select class="form-control" formControlName="level" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option value="Undergraduate">Undergraduate</option>
        <option value="Postgraduate">Postgraduate</option>
        <option value="Masters">Masters</option>
        <option value="LLB">LLB</option>
        <option value="LLM">LLM</option>
        <option value="MPhil">MPhil</option>
        <option value="PhD">PhD</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="requiredWordCount">Required Word Count*</label>
      <input type="number" class="form-control" formControlName="requiredWordCount" required (input)="calculateTotalPrice()" />
    </div>
    <div class="form-group col-md-4">
      <label for="desiredGrade">Desired Grade*</label>
      <select class="form-control" formControlName="desiredGrade" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let grade of desiredGrades" [value]="grade.title">{{ grade.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="deadline">Deadline*</label>
      <select class="form-control" formControlName="deadline" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let deadline of deadlines" [value]="deadline.title">{{ deadline.title }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="topic">Topic*</label>
      <select class="form-control" formControlName="topic" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let topic of topics" [value]="topic.title">{{ topic.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="referencingStyle">Referencing Style*</label>
      <select class="form-control" formControlName="referencingStyle" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let style of referencingStyles" [value]="style.title">{{ style.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="numberOfReferences">Number of References*</label>
      <input type="number" class="form-control" formControlName="numberOfReferences" required (input)="calculateTotalPrice()" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="email">Email*</label>
      <input type="email" class="form-control" formControlName="email" required />
    </div>
    <div class="form-group col-md-4">
      <label for="contactNumber">Contact Number*</label>
      <input type="tel" class="form-control" formControlName="contactNumber" required />
    </div>
    <div class="form-group col-md-4">
      <label for="universityName">University Name*</label>
      <input type="text" class="form-control" formControlName="universityName" required />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="turnitin">Turnitin Report*</label>
      <div style="display: flex; gap: 20px;">
        <label class="radio-inline">
          <input type="radio" formControlName="turnitin" value="Yes" required /> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" formControlName="turnitin" value="No" required /> No
        </label>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="detailInstructions">Detail Instructions*</label>
      <textarea class="form-control" formControlName="detailInstructions" rows="10" required style="height: 200px; overflow: auto;"></textarea>
    </div>
  </div>

  <div class="total-price-box mb-3">
    <h4>Total Price: £{{ gbpTotalCost | number: '1.0-0' }}</h4>
  </div>
  <button type="submit" class="btn btn-primary btn-block bg-my-color">Submit Order</button>
</form> -->















<!-- <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="typeOfService">Type of Service*</label>
      <select class="form-control" formControlName="typeOfService" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let service of typeOfServices" [value]="service.title">{{ service.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="subjectArea">Subject Area*</label>
      <select class="form-control" formControlName="subjectArea" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let subject of subjectAreas" [value]="subject.title">{{ subject.title }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="level">Level*</label>
      <select class="form-control" formControlName="level" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option value="Undergraduate">Undergraduate</option>
        <option value="Postgraduate">Postgraduate</option>
        <option value="Masters">Masters</option>
        <option value="LLB">LLB</option>
        <option value="LLM">LLM</option>
        <option value="MPhil">MPhil</option>
        <option value="PhD">PhD</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="requiredWordCount">Required Word Count*</label>
      <input type="number" class="form-control" formControlName="requiredWordCount" required (input)="calculateTotalPrice()" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="desiredGrade">Desired Grade*</label>
      <select class="form-control" formControlName="desiredGrade" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let grade of desiredGrades" [value]="grade.title">{{ grade.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="deadline">Deadline*</label>
      <select class="form-control" formControlName="deadline" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let deadline of deadlines" [value]="deadline.title">{{ deadline.title }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="topic">Topic*</label>
      <select class="form-control" formControlName="topic" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let topic of topics" [value]="topic.title">{{ topic.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="detailInstructions">Detail Instructions*</label>
      <textarea class="form-control" formControlName="detailInstructions" rows="1" required></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="referencingStyle">Referencing Style*</label>
      <select class="form-control" formControlName="referencingStyle" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let style of referencingStyles" [value]="style.title">{{ style.title }}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="numberOfReferences">Number of References*</label>
      <input type="number" class="form-control" formControlName="numberOfReferences" required (input)="calculateTotalPrice()" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="paymentPlan">Payment Plan*</label>
      <select class="form-control" formControlName="paymentPlan" required (change)="calculateTotalPrice()">
        <option value="" disabled selected>Select One</option>
        <option *ngFor="let plan of paymentPlans" [value]="plan.title">
          {{ plan.title }} (£{{ gbpTotalCost + plan.additionalCost }})
        </option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="paymentSchedule">Payment Schedule*</label>
      <select class="form-control" formControlName="paymentSchedule" required>
        <option value="" disabled selected>Select One</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email*</label>
      <input type="email" class="form-control" formControlName="email" required />
    </div>
    <div class="form-group col-md-6">
      <label for="contactNumber">Contact Number*</label>
      <input type="tel" class="form-control" formControlName="contactNumber" required />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="universityName">University Name*</label>
      <input type="text" class="form-control" formControlName="universityName" required />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="turnitin">Turnitin Report*</label>
      <input type="text" class="form-control" formControlName="turnitin" required />
    </div>
  </div>

  <div class="total-price-box mb-3">
    <h4>Total Price: £{{ gbpTotalCost | number: '1.0-0' }}</h4>
  </div>
  <button type="submit" class="btn btn-primary btn-block bg-my-color">Submit Order</button>
</form> -->
