<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let testimonial of testimonials; let i = index">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <div class="card-header-2">
            <h5 class="card-title">{{ testimonial.name }}</h5>
            <p class="card-text stars" [innerHTML]="generateStars(testimonial.rating)"></p>
          </div>
          <div class="city-date">
            <p class="card-text location"><i class="fas fa-map-marker-alt"></i> {{ testimonial.location }}</p>
            <p class="card-text date"><i class="fas fa-calendar-alt"></i> {{ testimonial.date | date }}</p>
          </div>
          <p class="card-text description">
            {{ testimonial.expanded ? testimonial.description : (testimonial.description | slice:0:100) + (testimonial.description.length > 100 ? '... ' : '') }}
            <span *ngIf="testimonial.description.length > 100 && !testimonial.expanded" class="read-more" (click)="toggleDescription(testimonial)">Read More</span>
            <span *ngIf="testimonial.expanded" class="read-more" (click)="toggleDescription(testimonial)">Read Less</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



























<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-md-12" *ngFor="let testimonial of testimonials; let i = index">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <div class="card-header-2">
            <h5 class="card-title"><strong>{{ testimonial.name }}</strong></h5>
            <p class="card-text stars" [innerHTML]="generateStars(testimonial.rating)"></p>
          </div>
          <div class="city-date">
            <p class="card-text"><small class="text-muted">{{ testimonial.location }}</small></p>
            <p class="card-text"><small class="text-muted">{{ testimonial.date | date }}</small></p>
          </div>
          <p class="card-text">
            {{ testimonial.expanded ? testimonial.description : (testimonial.description | slice:0:100) + (testimonial.description.length > 100 ? '... ' : '') }}
            <span *ngIf="testimonial.description.length > 100 && !testimonial.expanded" class="read-more" (click)="toggleDescription(testimonial)">Read More</span>
            <span *ngIf="testimonial.expanded" class="read-more" (click)="toggleDescription(testimonial)">Read Less</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->