<div class="privacy-policy-container">
  <h2>Privacy Policy</h2>
  <p>Dissertation Writing is the place where you can easily place your trust and forget all the worries. Our privacy policy includes the following elements:</p>

  <ul>
    <li>
      <p>
        According to our policy of cookies, we make the use of cookies to adapt the online experience of visitors and customers of our site. The cookies help us to dichotomize web traffic and help us in identifying visitors of our website easily. With the support of suitable cookies, we are quite expert of enhancing our site according to our client wants.
      </p>
    </li>
    <li>
      <p>
        When a customer comes to our site, our auto-created framework coordinated with our site automatically recognizes and saves some of their information. For example, IP address, time & date of visiting, web browser used, and some data about the working framework with the support of which you approach our site.
      </p>
    </li>
    <li>
      <p>
        We have a policy of accumulating information at different occasions such as when somebody visits our website, whether he/she is getting registered or placing an order. This information contains the name of the customer, his/her credit card, email ID, country, phone numbers, etc. It is important for us to gather this information because it provides us with the opportunity to know about our customers and we are able to notify them about any sort of offers made by us.
      </p>
    </li>
    <li>
      <p>
        If you fear revealing your personal information, then you need not worry regarding this matter. With the help of our privacy policy, we assure you that all your personal information will be kept in a secure place so that no one can access it. This personal information that is provided by you at the time of making an order includes your email ID, name, contact number, credit card number, and any other information that is necessary. Consequently, it is our responsibility to guard the valuable asset of our customers.
      </p>
    </li>
    <li>
      <p>
        At Assignment Bank, we entertain the right to alter our custom privacy policy at whatever time or at whatever point it needs modifications in order to improve it and make it effective for our dear clients. In this way, our clients are requested to keep going through our privacy policy page from time to time to stay up-to-date about the developments in the privacy policy.
      </p>
    </li>
  </ul>
</div>
