<style>
.bg-light li {
    transition: color 0.3s, padding-left 0.3s;
    padding-left: 0;
}

.bg-light li:hover {
    color: blue;
    padding-left: 10px;
    font-weight: 600;
}


</style>
<div class="row">
    <div class="col-md-3 pt-5 ps-5 bordered">
        <ul class="bg-light">
            <li style="border-top: 2px solid blue;" class="text-primary fw-bold p-3">Welcome {{user.name}}</li>
        </ul>
        <ul class="mt-4" class="bg-light">
            <li class="pt-2 pb-2" (click)="showComponent('showOrder')" style="cursor: pointer;border-bottom: 1px solid lightgrey;"><span class="fw-bold">></span>  My Orders</li>
            <li class="pt-2 pb-2" (click)="showComponent('showInvoices')" style="cursor: pointer;border-bottom: 1px solid lightgrey;"><span class="fw-bold">></span>  My Invoices</li>
            <li class="pt-2 pb-2" (click)="showComponent('showCompleted')" style="cursor: pointer;border-bottom: 1px solid lightgrey;"><span class="fw-bold">></span>  Completed Orders</li>
            <li class="pt-2 pb-2" (click)="showComponent('showEditUser')" style="cursor: pointer;border-bottom: 1px solid lightgrey;"><span class="fw-bold">></span> Edit Profile</li>
            <li class="pt-2 pb-2" (click)="showComponent('showChangePassword')" style="cursor: pointer;border-bottom: 1px solid lightgrey;"><span class="fw-bold">></span>  Change Password</li>
            <li (click)="logout()" style="cursor: pointer;"><span class="fw-bold">></span>  Logout</li>
        </ul>
    </div>
<div class="col-md-9 pt-5 pe-5">
    <app-user-orders [orders]="orders" *ngIf="showOrder"></app-user-orders>
    <app-user-orders [orders]="completedOrders" *ngIf="showCompleted"></app-user-orders>
    <app-my-invoices [invoices]="invoices" *ngIf="showInvoices"></app-my-invoices>
    <app-edit-profile [user]="user" (emitUpdateForm)="updateProfile($event)" *ngIf="showEditUser"></app-edit-profile>
    <app-user-change-password *ngIf="showChangePassword" (passUpdateForm)="updatePassword($event)"></app-user-change-password>
</div>
</div>