<style>
  .custom-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    transition: border-bottom-color 0.3s;
    width: 30rem;
  }

  .custom-input:focus {
    border-bottom-color: red;
  }
</style>

<div class="container">
  <div class="text-center fw-bold fs-3" style="color: #242961;">Edit Profile</div>
  <div class="container d-flex justify-content-center">
    <form [formGroup]="userForm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control custom-input bg-white"
            id="firstName"
            formControlName="name"
            placeholder="Enter First Name"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <input
            type="email"
            class="form-control custom-input bg-white"
            id="firstName"
            formControlName="email"
            readonly
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
          </div>
          <input
            type="tel"
            class="form-control custom-input bg-white"
            id="phone_number"
            formControlName="phone_number"
            placeholder="Enter First Name"
          />
        </div>
      </div>
      <label for="">Allow night calls in case of emergency?</label>
      <input class="ms-4" type="radio" value="Yes" formControlName="isTrue" id="" />
      <label for="javascript" class="ms-1"> Yes</label>

      <input class="ms-4" type="radio" value="No" formControlName="isTrue" id="" />
      <label for="javascript" class="ms-1"> No</label>

      <!-- class="btn-primary rounded-pill" -->

      <div>
        <button
          style="background-color: #242961; border-radius: 6px; padding: 8px 16px; color: #FFF;"
          (click)="submitForm()"
        >
          Update Profile
        </button>
      </div>
    </form>
  </div>
</div>
