<section class="" [innerHTML]="beingAGoodResidential"></section>





<!-- <div class="program-container">
    <h1>Being A Good Residential Carer We Provide!</h1>
    <div class="program-container-main">
        <div class="program-content">
            <div class="unique-program-left">
                <div class="unique-program-item" data-aos="fade-up">
                    <div class="unique-icon-container">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="unique-text-container">
                        <h3>Emotional Regulation Techniques</h3>
                        <p>Teaching children's skills and techniques to manage emotions, cope with stressors, and regulate behaviour through mindfulness, relaxation exercises, and social-emotional learning programs.</p>
                    </div>
                </div>
                <div class="unique-program-item" data-aos="fade-up">
                    <div class="unique-icon-container">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="unique-text-container">
                        <h3>Therapeutic Support</h3>
                        <p>Offering individual and group therapy sessions with qualified counsellors or psychologists to address emotional issues, trauma, anxiety, depression, anger management, and self-esteem.</p>
                    </div>
                </div>
                <div class="unique-program-item" data-aos="fade-up">
                    <div class="unique-icon-container">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="unique-text-container">
                        <h3>Creating A Nurturing Environment</h3>
                        <p>Establishing safe and supportive homes for children with special needs, prioritizing emotional well-being, stability, and personalised care plans to foster growth and development.</p>
                    </div>
                </div>
            </div>
            <div class="unique-program-center">
                <img src="../../assets/images/confident-girl-sitting-books.jpg" alt="Child Image">
            </div>
            <div class="unique-program-right">
                <div class="unique-program-item" data-aos="fade-up">
                    <div class="unique-icon-container">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="unique-text-container">
                        <h3>Specialised Care Plans</h3>
                        <p>Implementing personalised care strategies tailored to each child's unique needs, emphasising emotional support, stability, and holistic development within our residential setting.</p>
                    </div>
                </div>
                <div class="unique-program-item" data-aos="fade-up">
                    <div class="unique-icon-container">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="unique-text-container">
                        <h3>Transition Planning For Children With Specialised Needs</h3>
                        <p>Transition planning for children receiving residential care, experiencing learning difficulties, or emotional behavioural disorders involves creating tailored plans for their transition into adulthood and independence.</p>
                    </div>
                </div>
                <div class="unique-program-item" data-aos="fade-up">
                    <div class="unique-icon-container">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="unique-text-container">
                        <h3>Council Liaison And Support Coordination</h3>
                        <p>Collaborating closely with local councils to ensure comprehensive support and coordination for children, including regular updates and involvement in care planning.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->