
<header class="" style="background-color: bisque; min-height: 60px; width: 100%;">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-end gap-3 align-items-center">
          <!-- <span>Welcome to Akosztec.</span> -->
          <!-- <button class="task-revision-btn" type="button">
            <i class="fa fa-list"></i> Revision List
          </button> -->
          <button class="task-revision-btn" type="button">
            <i class="fa fa-list"></i> Task List
          </button>
          <button class="back-det__payment__email-btn" type="button">
            <i class="fa fa-money"></i> Bank Details
          </button>
          <button class="back-det__payment__email-btn" type="button">
            <i class="fa fa-money"></i> Payment Links
          </button>
          <button class="back-det__payment__email-btn" type="button">
            <i class="fa fa-envelope"></i> Emails
          </button>
          <!-- <div class="mx-2 message-icon" style="cursor: pointer;">
            <div class="">
                <img src="../../../assets/grocery-store.png" width="30px" height="30px" alt="">
            </div>
            <div class="message-icon-counter">0</div>
          </div> -->
          <!-- <span class="mx-2">
            <i class="fa fa-shopping-cart"></i> <span class="">0</span>
          </span> -->
        </div>
    </nav>
</header>