<!-- Services Portion -->






<div class="container">
    <div class="text-center">
        <div data-aos="fade-up" class="sub-heading margin-top-breathtaking">
            BREATHTAKING FEATURES OF
        </div>
        <div data-aos="fade-up" class="heading-service mt-1 fw-bold">
            Our Assignment Writing Services
        </div>
        <div data-aos="fade-up" data-aos-easing="linear"
        data-aos-duration="1500" style="color: #77838F;" class="p mt-4">
            In this chaotic college life, dealing with difficult assignment is like biting the bullet. On the other
            hand,
            Smart <br> Edu Ltd may not allow you to take any risk for your valuable and profitable assignment and
            therefore
            offers a <br> satisfying hand to help and manage assignment writing. Additionally, we set ourselves apart
            from
            others in the <br> assignment writing industry with our diverse and versatile features. In addition, we have
            been serving students <br> for about ten years and, in this way, we have enriched our know-how. In addition,
            our
            customers trust us blindly <br> and believe that we are the most trusted and authentic site for mission
            support.
            Thus, we strive every second to <br>
            meet all your expectations. Our company has the following amazing features:
        </div>
    </div>

    <div class="d-flex justify-content-evenly flex-wrap margin-t-hundread">

        <div class="card text-center" style="width: 23rem;">
            <div class="card-body p-4">
                <i class="fa fa-graduation-cap fs-1 line-height" aria-hidden="true"></i>
                <h4 class="line-height fs-4 mt-3">Confidential Data
                </h4>
                <p class="line-height">As far as confidentiality is concerned, we are careful to protect our customers'
                    personal data and
                    information. Additionally, artwork is never published or resold as it is never stored in a database
                    and is automatically purged upon final submission.

                </p>
            </div>
        </div>



        <div class="card text-center" style="width: 23rem;">
            <div class="card-body p-4">
                <i class="fa fa-graduation-cap fs-1 line-height" aria-hidden="true"></i>
                <h4 class="line-height fs-4 mt-3">Our Amazing Services

                </h4>
                <p class="line-height">
                    Yes it's true! We expanded our branches <br> across the UK and also increased our <br> value. No
                    matter where
                    you are staying,<br>now you can easily contact us and <br> communicate with us as we are available
                    <br> 24 hours
                    a day to serve you.
                </p>
            </div>
        </div>



        <div class="card text-center" style="width: 23rem;">
            <div class="card-body p-4">
                <i class="fa fa-video-camera fs-1 line-height" aria-hidden="true"></i>
                <h4 class="line-height fs-4 mt-3">We Help Everywhere!
                </h4>
                <p class="line-height">
                    We now offer opportunities to facilitate all <br> types of quests for you. Whether it's a <br>
                    master's or
                    doctoral essay writing service, <br> we aim to offer a wide range and cover <br> almost every topic
                    to ease
                    your difficulties <br> and ensure your success.


                </p>
            </div>
        </div>

    </div>




    <div class="d-flex flex-wrap justify-content-around p-4 text-center margin-learning">
        <div class="margin-service-img"><img style="width: 463px;height: 356px;" src="../../assets/service-img.png"
                alt=""></div>

        <div style="width: 550px;">
            <div class="text-start">
                <div class="sub-heading">10 YEARS GLORY OF SUCCESS
                </div>
                <div style="width: 550px;">
                    <h1 class="heading-service fw-bolder">Some reasons why Start Your Online Learning with Us</h1>
                </div>

                <div class="d-flex">
                    <div class="mt-5 purple-circle ">
                        <i class="fa fa-video-camera fs-4 mt-3 text-light" aria-hidden="true"></i>
                    </div>

                    <div class="d-flex flex-column">
                        <div style="font-weight: 700;" class="mt-5 ms-4 fs-5">
                            Online Classes
                        </div>
                        <div>
                            <p class="ms-4">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Quidem veniam nulla
                                inventore dolores fuga

                            </p>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="pink-circle mt-3">
                        <i class="fa fa-video-camera fs-4 mt-3 text-light" aria-hidden="true"></i>
                    </div>

                    <div class="d-flex flex-column">
                        <div style="font-weight: 700;" class="ms-4 fs-5 mt-3">
                            Skilled Instructors

                        </div>
                        <div>
                            <p class="ms-4">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Quidem veniam nulla
                                inventore dolores fuga

                            </p>
                        </div>
                    </div>
                </div>



                <div class="d-flex">
                    <div class="blue-circle mt-3">
                        <i class="fa fa-video-camera fs-4 mt-3 text-light" aria-hidden="true"></i>
                    </div>

                    <div class="d-flex flex-column">
                        <div style="font-weight: 700;" class="ms-4 fs-5 mt-3">
                            Get Certificate

                        </div>
                        <div>
                            <p class="ms-4">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Quidem veniam nulla
                                inventore dolores fuga

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <div class="d-flex justify-content-around flex-wrap mt-5">

        <div style="width: 463px;" class="width-analysis ps-5 pt-5 mt-5">
            <p class="sub-heading">
                ANALYSIS
            </p>
            <h1 class="fw-bold">
                Our Help Statistics
            </h1>
        </div>

        <div style="background-color: #DD246E;height: 262px;width: 227px;" class="rounded">
            <div style="width: 227px;"
                class="width-analysis text-center d-flex flex-column justify-content-center cards-color">
                <div><i class="fa fa-user-o fs-1 bg-light white-circle p-4" aria-hidden="true"></i></div>
                <h1 class="text-white fw-bold fs-1 mt-3">2K</h1>
                <p style="font-weight: 700;" class="text-white">
                    Customers
                </p>
            </div>
        </div>


        <div style="background-color: #00C0A6;height: 262px;width: 227px;" class="rounded">
            <div style="width: 227px;"
                class="width-analysis text-center d-flex flex-column justify-content-center cards-color">
                <div><i class="fa fa-user-o fs-1 bg-light white-circle p-4" aria-hidden="true"></i></div>
                <h1 style="font-size: 40px;" class="text-white mt-3 fw-bold text-center">120+</h1>
                <p style="font-weight: 700;" class="text-white">
                    Active Writers
                </p>
            </div>
        </div>



        <div style="background-color: #1162FC;height: 262px;width: 227px;" class="rounded">
            <div style="width: 227px;"
                class="width-analysis text-center d-flex flex-column justify-content-center cards-color">
                <div><i class="fa fa-user-o fs-1 bg-light white-circle p-4" aria-hidden="true"></i></div>
                <h1 class="text-white">100%</h1>
                <p style="font-weight: 700;" class="text-white">
                    Satisfaction
                </p>
            </div>
        </div>

    </div>


</div>



