<div class="main-container">
  <div *ngIf="!showDescription" class="header-container">
    <h1>{{ services.length }} Service{{ services.length > 1 ? 's' : '' }} Available</h1>
    <hr />
    <p class="px-4 text-center">
      If you're at the start of your research journey and are trying to figure out which <strong>Service</strong> you want to focus on, you've come to the right place.
    </p>
  </div>

  <!-- Service List: Shown only when no service or sub-service is selected -->
  <div *ngIf="!showDescription" class="topics-container">
    <div *ngIf="services.length === 0" class="no-topics">
      No available Service right now.
    </div>

    <!-- List of services and sub-services -->
    <div *ngFor="let service of services" class="service-box" (click)="goToService(service.id)">
      <h2 class="service-title">{{ service.title }}</h2>

      <!-- Sub Services -->
      <div *ngIf="service.subServices.length > 0" class="sub-services-container">
        <div class="d-flex gap-2 align-items-center">
          <h6>Sub Services: </h6>
          <ul class="sub-service-list d-flex gap-4 align-items-center mt-2">
            <li *ngFor="let subService of service.subServices" class="sub-service-item" (click)="goToSubService(subService.id, $event)">
              <div class="sub-service-title">{{ subService.title }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Two-column layout for description and dummy text: Shown only when service or sub-service is selected -->
  <div *ngIf="showDescription" class="content-layout">
    <!-- 70%: Description -->
    <div class="description-container" [innerHTML]="selectedDescription"></div>

    <!-- 30%: Dummy text (you can replace this later) -->
    <div class="dummy-container">
      <app-giveaways></app-giveaways>
    </div>
  </div>
</div>

<div class="">
  <app-home-testimonial-section></app-home-testimonial-section>
  <app-faq-section></app-faq-section>
</div>
