
<style>
.hover-animation:hover {
  background-color: black;
  color: white;
  /* transition: transform 0.3s ease-in-out; */
  /* transform: scale(1.1); */
}

</style>
<!-- <section class="page-header" style="background-color: #242961 !important; padding: 50px;">
  <div class="container" *ngIf="selectedSample">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <ul class="header-bradcrumb justify-content-center">
            <li><a href="/">Home</a></li>
            <li class="active" aria-current="page">Our Samples</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <h1>Our Samples</h1>
          <ul class="header-bradcrumb justify-content-center">
            <li><a href="/">Home</a></li>
            <li><a href="/samples">Samples</a></li>
            <li class="active" aria-current="page">{{selectedSample?.Title}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="samples-section" style="background: #f1f1f1; padding: 25px 50px 25px 60px" *ngIf="selectedSample">
  <div class="wrapper _wrapper">
    <div class="row" style="justify-content: space-between">
      <div class="col-lg-9 col-sm-12 col-md-8">
        <div style="margin-left: 5px;" >
          <!-- <div><strong>
            {{selectedSample?.Title}}
          </strong>
        </div> -->
        </div>
        <section class="sample-details"  >
          <div style="background-color: #242961; border-radius: 7px; display: flex; justify-content: center; padding: 15px 2px; margin-bottom: 5px;">
            <h1 style="color: #FFF; text-align: center;">Custom-Written, AI & Plagiarism-Free with Passing <span class="text-danger">"Guaranteed"</span></h1>
          </div>
          <div style="display: flex; justify-content: center; flex-direction: column;" >
            <a style="display: flex; justify-content: center; gap: 10px;"
              href="javascript:;"
              class="btn btn-quote"
              (click)="handleShowModal()"
              >Order this Assignment Now: 
              <span class="price" style="text-decoration: line-through;">£{{ selectedSample?.Price }}</span></a
            >
            <p  class="parchi">100% Pass and No Plagiarism Guaranteed</p>
          </div>
          
          <div style="width: 100%;">
            <!-- <h1>{{selectedSample?.Title}}</h1> -->
          <!-- <div
            id="test_service"
            class="service-content"
            [innerHTML]="getSafeHtml(selectedSample?.Description.join())"
          ></div> -->
          <div id="test_service" class="service-content" [innerHTML]="selectedSample?.Description.join()"></div>

        </div>
        

        <div style="text-align: left; display: flex; justify-content: center; flex-direction: column;">
          <a href="javascript:;" class="btn btn-quote" (click)="handleShowModal()" 
            style="display: flex; justify-content: center; gap: 10px;">
            Get Fresh Answer Now: 
            <span class="price" style="text-decoration: line-through;">£{{ selectedSample?.Price }}</span>
          </a>
          <p class="parchi" style="text-align: left;">100% Pass and No Plagiarism Guaranteed</p>
      </div>
      
        </section>
      </div>      <!-- Portfolio item slider start -->
      <!-- this colimn should not scroll when scrolling the left side -->
      <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12" >
        <div class="sample-sidebar" style="position: sticky; top: 0;">
          <div class="mu-blog-sidebar">
            <img
              src="../../../assets/images/banner/paypal-checkout.png"
              width="100%"
              alt="paypal checkout"
              class="lazyloaded width-100 pb-2"
            />
            <!-- International house, 12 Constance Street, Royal Docks, London, E16 2DQ,  United Kingdom -->
            <div class="example-sample-hero text-center" style="background-color: #242961 !important;">
              <p class="lead d-flex align-items-center flex-column text-center">
                <i class="fa fa-home fa-4x"></i> <br />
                Smart Edu Ltd, Internation House, 12 Constance Street,
              </p>
              <p class="btn btn-lg btn-border text-white mb-2">
                UK Registered Company
              </p>
              <!-- <div class="mu-social-media p-2">
                <a class="mu-whatsapp" href="#0"
                  ><i class="fa fa-whatsapp"></i
                ></a>
                <a class="mu-google-plus" href="#0"
                  ><i class="fa fa-comments"></i
                ></a>
                <a class="mu-youtube" href="#0"
                  ><i class="fa fa-envelope"></i
                ></a>
                <a href="#0"><i class="fa fa-facebook"></i></a>
                <a class="mu-twitter" href="javascript:;"
                  ><i class="fa fa-twitter"></i
                ></a>
              </div> -->
            </div>
            <div class="example-sample-hero text-center">
              <h3 class="text-white ">
                <i class="fa fa-graduation-cap fa-4x"></i><br />100% Pass
                Guarantee
              </h3>
            </div>
            <div class="example-sample-hero text-center">
              <h2 class="heading">STILL NOT CONVINCED?</h2>
              <p class="lead text-center">
                We've produced some samples of what you can expect from our
                Academic Writing Service - these are created by our writers to
                show you the kind of high-quality work you'll receive. Take a
                look for yourself!
              </p>
              <div style="display: flex; justify-content: center;">
                <button style="color: #fff;" class="btn btn-lg btn-border" (click)="viewSamples()">
                  <i class="fa fa-angle-left"></i> View Our Samples
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<!-- Modal Wrapper -->
<div *ngIf="showModal" class="custom-modal-wrapper">
  <!-- Modal Content -->
  <div class="custom-modal">
    <!-- Modal Header -->
    <div class="custom-modal-header">
      <h5 class="modal-title">
        We write, we don’t plagiarise! Every answer is different no matter how
        many orders we get for the same assignment. Your answer will be 100%
        plagiarism-free, custom written, unique and different from every other
        student.
      </h5>
      <button type="button" class="custom-close-btn" (click)="showModal=false">×</button>
    </div>

    <!-- Modal Body -->
    <form [formGroup]="orderForm">
      <div class="custom-modal-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label><i class="fa fa-user"></i> Full Name</label>
            <input
              formControlName="firstName"
              type="text"
              placeholder="Full Name*"
              class="form-control"
              [ngClass]="{'is-invalid': orderForm.get('firstName')?.invalid && orderForm.get('firstName')?.touched}"
            />
          </div>
          <div class="form-group col-md-6">
            <label><i class="fa fa-envelope"></i> Email address</label>
            <input
              formControlName="email"
              type="email"
              placeholder="Email*"
              class="form-control"
              [ngClass]="{'is-invalid': orderForm.get('email')?.invalid && orderForm.get('email')?.touched}"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label><i class="fa fa-phone"></i> Phone Number</label>
            <input
              formControlName="contactPhone"
              type="tel"
              placeholder="Phone Number*"
              class="form-control"
              [ngClass]="{'is-invalid': orderForm.get('contactPhone')?.invalid && orderForm.get('contactPhone')?.touched}"
            />
          </div>
          <div class="form-group col-md-3">
            <label><i class="fa fa-file-word-o"></i> No. of Words</label>
            <input
              formControlName="pageWords"
              type="number"
              placeholder="No. Of Words*"
              class="form-control"
              [ngClass]="{'is-invalid': orderForm.get('pageWords')?.invalid && orderForm.get('pageWords')?.touched}"
            />
          </div>
          <div class="form-group col-md-3">
            <label><i class="fa fa-calendar"></i> Deadline</label>
            <select formControlName="deadline" class="form-control">
              <option value="24 Hours delivery">24 Hours Delivery</option>
              <option value="2 days delivery">2 days delivery</option>
              <option value="3 days delivery">3 days delivery</option>
              <option value="4 days delivery">4 days delivery</option>
              <option value="5 days delivery">5 days delivery</option>
              <option value="6 days delivery">6 days delivery</option>
              <option value="7 days delivery">7 days delivery</option>
              <option value="8 days delivery">8 days delivery</option>
              <option value="9 days delivery">9 days delivery</option>
              <option value="10 days delivery">10 days delivery</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Supporting Documents</label>
            <input
              type="file"
              formControlName="fileUrl"
              (change)="onFileSelected($event)"
              class="form-control"
            />
          </div>
          <div class="form-group col-md-6">
            <p>Receive calls at night in case of emergency?</p>
            <div class="d-flex align-items-center">
              <label class="mr-3">
                <input
                  type="radio"
                  formControlName="terms"
                  value="yes"
                /> Yes
              </label>
              <label>
                <input
                  type="radio"
                  formControlName="terms"
                  value="no"
                /> No
              </label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Total Cost:</label>
            <div class="total-price">£ <del style="color: red;">{{ selectedSample?.Price }}</del></div>
          </div>
          <div class="form-group col-md-6">
            <label>Discounted Price:</label>
            <div class="discounted-price">
              £ {{ selectedSample?.DiscountPrice }}
              <span class="text-muted">(Inc. all taxes)</span>
            </div>
          </div>
        </div>

        <div class="form-group mt-3">
          <p>
            Share your assignment brief and supporting material via email here at:
            <a href="mailto:support@dissertationwriting.co" class="linkoo">{{'support@dissertationwriting.co'}}</a>
            after completing this order process.
          </p>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="custom-modal-footer">
        <button type="button" class="custom-btn custom-btn-secondary" (click)="showModal=false">Cancel</button>
        <button type="submit" class="custom-btn custom-btn-primary" (click)="submitOrder($event)">Submit Order & Checkout</button>
      </div>
    </form>
  </div>
</div>

