<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Terms and conditions</h1>

                    <ul class="header-bradcrumb justify-content-center">
                        <li><a href="/">Home</a></li>
                        <li class="active" aria-current="page">Terms And Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>
<section class="contact" style="padding-top: 20px;">
    <div  class="container-fluid" style="max-width:85%;margin:0 auto">
        <div class="row justify-content-between">
            <div class="text-justify" >
                <h3 class="text-center" style="padding: 20px;" >Terms and Conditions</h3>

                
                <h5>1.Introduction</h5>
                <p>Welcome to Dissertation Writing UK. By using our Website and the services provided, you agree to comply with and be bound by the following terms and conditions. Please read these Terms carefully before using our services.</p>
                

               <h5>
                   2. Acceptance of Terms
               </h5> 
               <p>
                   By accessing or using the Website and its services, you acknowledge that you have read, understood, and agree to be bound by these Terms. If you do not agree with these Terms, please do not use the Website.
               </p>

               <h5>
                   3. Service Description
               </h5>
               <p>
                   We provide custom writing and research services for educational purposes. You may place orders for essays, research papers, assignments, and other academic materials.
               </p>

               <h5>
                4. Placing Orders
                </h5>
                <p>
                    When placing an order on the Website, you agree to provide accurate and complete information. You are responsible for providing clear instructions and all necessary materials for the successful completion of the order. Payment is required before any work on your order begins.
                </p>

                <h5>
                    5. Copyright and Usage
                    
                </h5>
                <p>
                    All materials provided by Dissertation Writing are for research and reference purposes only. You agree not to submit any work provided by us as your own. You may not sell, distribute, or use our materials for any commercial purposes without our written consent.                    
                </p>

                <h5>
                    6. Delivery and Revisions
                    
                </h5>
                <p>
                    We aim to deliver orders by the deadline you specify. However, we do not guarantee specific grades or that the content will meet your expectations. We provide revisions, subject to our revision policy.                    
                </p>

                <h5>
                    7. Privacy
                    
                </h5>
                <p>
                    Your privacy is important to us. Please review our Privacy Policy to understand how we collect, use, and protect your personal information.
                </p>

                <h5>
                    8. Payment and Refund Policy
                </h5>

                <p>
                    Information on payment methods, pricing, and refund policies can be found on our Payment and Refund Policy page.
                </p>

                <h5>
                    9. Termination of Service                    
                </h5>
                <p>
                    We reserve the right to refuse service to anyone for any reason. We may terminate or suspend your account or access to the Website without prior notice if you violate these Terms.
                </p>

                <h5>
                    10. Limitation of Liability
                </h5>
                <p>
                    Dissertation Writing and its affiliates are not responsible for any indirect, incidental, or consequential damages arising from the use of our services.
                </p>
                <h5>
                    11. Changes to Terms
                </h5>
                <p>
                    We reserve the right to modify these Terms at any time without prior notice. It is your responsibility to regularly review the Terms to stay informed of any changes.
                </p>

                <h5>
                    12. Governing Law
                </h5>
                <p>
                    These Terms are governed by the laws of United Kingdom, without regard to its conflict of laws principles.
                </p>
                <h5>
                    13. Contact Information
                </h5>
                <p>
                    If you have any questions or concerns about these Terms or the Website, please contact us at support@dissertationwriting.co
                    By using this platform, you agree to these Terms and acknowledge that you have read and understood them.
                </p>

                <h3 class="text-center"  style="padding: 20px;">Refund Policy</h3>

                <p>We strive to provide high-quality academic writing services. We are committed to customer satisfaction, and we understand that there may be circumstances under which a refund is warranted. Please read our refund policy carefully to understand the conditions under which refunds may be granted.</p>
            
                <h5>
                    1. Eligibility for Refunds
                </h5>
                <p>
                    Refunds may be considered under the following circumstances:
                    
                </p>
                <p>
                    <strong style="color: var(--theme-heading-color);">
                            a. Non-Delivery: 
                    </strong>
                    If we fail to deliver the completed assignment by the agreed-upon deadline and do not provide an acceptable reason for the delay.
                </p>

                <p>

                    <strong style="color: var(--theme-heading-color);">
                        
                        b. Plagiarism:
                    </strong>
                    If the completed assignment is found to be plagiarized, and you can provide substantial evidence to support this claim.
                </p>
                <p>

                    <strong style="color: var(--theme-heading-color);">
                        c. Cancellation: 
                    </strong>
                    If you cancel your order before we assign a writer to work on it, a refund will be processed according to our cancellation policy.
                </p>



                <h5>
                    2. Non-Eligibility for Refunds
                </h5>
                <p>
                    Refunds will not be issued under the following circumstances:
                </p>
                <p>
                    <strong style="color: var(--theme-heading-color);">
                        a. Quality Issues: 
                    </strong>
                    We do not guarantee a specific grade or satisfaction with the content of the assignment. However, we do provide free revisions to address any quality concerns.                    
                </p>
                <p>
                    <strong style="color: var(--theme-heading-color);">
                        b. Incorrect Instructions:
                         If the assignment does not meet your expectations due to unclear or incomplete instructions provided at the time of order placement.
                    </strong>
                </p>
                <p>
                    <strong style="color: var(--theme-heading-color);">
                        c. Multiple Payment Errors:
                    </strong>
                    In case of accidental multiple payments for the same order, the extra payments will be refunded. However, if the extra payment is used for another order, no refund will be issued.
                </p>
                <p>
                    <strong style="color: var(--theme-heading-color);">
                        d. Late Upload of Additional Materials:                        
                    </strong>
                    If you upload additional materials required for your order after the writer has started working on it, we cannot guarantee a refund for any issues arising from the delayed submission of materials.
                </p>

            <h5>
                3. Requesting a Refund
            </h5>
            <p>
                To request a refund, please contact our customer support team as soon as you believe you are eligible for one. We may ask for relevant documents or information to process your refund request.
            </p>

            <h5>
                4. Refund Processing                
            </h5>
            <p>
                If your refund request is approved, the refund will be processed using the same payment method used for the original purchase. The time it takes for the refund to be reflected in your account may vary depending on your payment provider.
            </p>
            <h5>
                5. Changes to the Refund Policy                
            </h5>
            <p>
                We reserve the right to make changes to our refund policy at any time without prior notice. The most recent version of our refund policy will always be available on our website.
            </p>
            
            </div>            

        </div>
    </div>

</section>