

<app-slider [aboutUs]="false" style="position: relative; z-index: 1;"></app-slider>
<div style="position: relative; z-index: 2;">

<section class="features-2" style="max-width:80%;margin:0 auto;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-heading mb-70 text-center">
                    <!-- <span class="subheading">Breathtaking features of</span> -->
                    <h2 class="font-lg mb-30">Dissertation Writing - Your Best Assignment Writing Service</h2>
                    <p>In the whirlwind of university life, tackling assignments can be a daunting task. Dissertation Writing is here to help, providing exceptional assignment writing services that take the stress out of your academic journey.</p>
                    <p>With years of experience and a team of expert writers, we've earned the trust of countless students. Our diverse services cater to all your assignment needs, ensuring you receive tailored solutions that meet your specific requirements.</p>
                    <p>Choose Dissertation Writing today and experience the peace of mind that comes with knowing your assignments are in safe hands.</p>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-4 col-md-6 col-xl-4 col-sm-6">
                <!-- data-aos="fade-up" data-aos-easing="linear"
                data-aos-duration="1500" -->
                <div  class="feature-item feature-style-top mb-4 mb-lg-0">
                    <div class="feature-icon">
                        <i class="flaticon-teacher"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Plagiarism -Free Assignments</h4>
                        <p>At Dissertation Writing, we understand the importance of originality and academic integrity. Our team of prestigious experts meticulously crafts every assignment from scratch, ensuring that your work is 100% plagiarism-free.</p>
                    </div>
                </div>
            </div>
            <!-- data-aos="fade-up" data-aos-easing="linear"
            data-aos-duration="1500" -->
            <div  class="col-lg-4 col-md-6 col-xl-4 col-sm-6">
                <div class="feature-item feature-style-top mb-4 mb-lg-0">
                    <div class="feature-icon">
                        <i class="flaticon-layer"></i>
                    </div>
                    <div class="feature-text">
                        <h4>Prestigious Experts</h4>
                        <p>We boast a diverse pool of writers specializing in a wide range of subjects. Whether you need assistance with a complex scientific report, a persuasive essay, or a detailed case study, our experts possess the knowledge and experience to deliver exceptional results.</p>
                    </div>
                </div>
            </div>
            <!-- data-aos="fade-up" data-aos-easing="linear"
            data-aos-duration="1500" -->
            <div  class="col-lg-4 col-md-6 col-xl-4 col-sm-6">
                <div class="feature-item feature-style-top mb-4 mb-lg-0">
                    <div class="feature-icon">
                        <i class="flaticon-video-camera"></i>
                    </div>
                    <div class="feature-text">
                        <h4>All Subject Help</h4>
                        <p>With Dissertation Writing, you can rest assured that your assignments will be handled by the best in the industry, guaranteeing high-quality, original work that meets the highest academic standards.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-3 section-padding-btm" style="max-width:80%;margin:0 auto">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <!-- data-aos="fade-right"
                data-aos-offset="500"
                data-aos-easing="ease-in-sine" -->
                <div  class="about-img">
                    <img src="../../assets/images/banner/img_9.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <!-- data-aos="fade-right"
                data-aos-offset="500"
                data-aos-easing="ease-in-sine" -->
                <div  class="about-content mt-5 mt-lg-0">
                    <div class="heading mb-50">
                        <span class="subheading">10 years Glory of success</span>
                        <h2 class="font-lg">Why Choose Dissertation Writing?</h2>
                    </div>

                    <div class="about-features">
                        <div class="feature-item feature-style-left">
                            <div class="feature-icon icon-radius" style="background-color: #2f5464 !important">
                                <i class="fa fa-video-camera"  aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Guaranteed On-Time Delivery</h4>
                                <p>We understand that meeting deadlines is crucial for your academic success. Our team works diligently to ensure that your assignments are delivered promptly, without compromising the quality of our work.</p>
                            </div>
                        </div>

                        <div class="feature-item feature-style-left">
                            <div class="feature-icon icon-bg-2 icon-radius">
                                <i class="fa fa-file" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h4>No Hidden Charges</h4>
                                <p>We believe in transparency and honesty. Our pricing is clear and upfront, with no hidden fees or unexpected costs. You will only pay for the services you request, and we will always provide you with a detailed breakdown of our charges before you place your order.</p>
                            </div>
                        </div>

                        <div class="feature-item feature-style-left">
                            <div class="feature-icon icon-bg-1 icon-radius">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                            <div class="feature-text">
                                <h4>Unlimited Revisions</h4>
                                <p>We are committed to providing you with the highest quality work that meets your exact requirements. That's why we offer unlimited revisions until you are completely satisfied with your assignment. Our team is dedicated to working with you until your assignment is perfect, ensuring that you receive the best possible grade.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counter-section-2 section-padding-btm" style="max-width:80%;margin:0 auto">
    <div class="container-fluid">
        <!-- data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"  -->
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-5 pr-xl-5 col-lg-8">
                <div class="section-heading mb-5 mb-xl-0 text-center text-xl-start">
                    <span class="subheading">Analysis</span>
                    <h2 class="font-lg">Our Numbers Speak For Us </h2>
                </div>
            </div>

            <div class="col-xl-7">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="counter-box bg-1 mb-4 mb-lg-0">
                            <i class="flaticon-man"></i>
                            <div class="count">
                                <span class="counter h2">5</span><span>k</span>
                            </div>
                            <p>Satisfied Students</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="counter-box bg-2 mb-4 mb-lg-0">
                            <i class="flaticon-infographic"></i>
                            <div class="count">
                                <span class="counter h2">200</span><span>+</span>
                            </div>
                            <p>Versatile Academic Writers </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="counter-box bg-3">
                            <i class="flaticon-satisfaction"></i>
                            <div class="count">
                                <span class="counter h2">100</span><span>%</span>
                            </div>
                            <p>Satisfaction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-how-to-write></app-how-to-write>
<app-samples></app-samples>
</div>