

<!-- <app-slider [aboutUs]="false" style="position: relative; z-index: 1;"></app-slider> -->

<!-- [ngStyle]="{
    'background-image': 'url(' + calcSectBg + ')',
    'background-size': 'cover',
    'background-position': 'center'
}" -->
<!-- [ngStyle]="{
    'background-image': 'url(../assets/images/calc-laptop.jpeg)',
    'background-size': 'cover',
    'background-position': 'center'
}" -->
<div class="container-calc"> 
    <div class="overlay"></div>
    <div class="content-wrapper-slide">
        <div [innerHTML]="sliderData"></div>
        <!-- <div class="content">
            <div class="title">
                <h1>Dissertation Writing</h1>
                <p>Dissertation Writing Help You To Write Your Assignment Without Using Any AI Tools</p>
                <div class="buttons">
                    <button class="order-now">ORDER NOW</button>
                </div>
            </div> 
        </div> -->

        
      
        <div class="quote-form">
            <h3>GET A PRICE QUOTE</h3>
            <form #dissertationForm="ngForm" (ngSubmit)="checkPrice()">
                <div class="form-group">
                    <label>Dissertation Topic</label>
                    <select class="form-control" name="service" ngModel required>
                        <option value="" disabled selected>Select Dissertation Topic</option>
                        <option *ngFor="let topic of sortedTopics" [value]="topic.title">
                            {{ topic.title }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Academic Level</label>
                    <select class="form-control" name="academicLevel" ngModel required>
                        <option value="" disabled selected>Select Academic Level</option>
                        <option *ngFor="let academic of academicLevels" [value]="academic.title">
                            {{ academic.title }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Service Type</label>
                    <select class="form-control" name="serviceType" ngModel required>
                        <option value="" disabled selected>Select Service Type</option>
                        <option *ngFor="let service of serviceType" [value]="service.title">
                            {{ service.title }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label>No. of Pages</label>
                    <input type="number" class="form-control" name="pages" ngModel min="1" required />
                </div>
                <div class="form-group">
                    <label>Deadline</label>
                    <input type="date" class="form-control" name="deadline" ngModel required />
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
                <div *ngIf="totalPrice != 0" class="alert alert-success mt-3 d-flex justify-content-center">Total Price is: £{{ totalPrice | number: '1.0-0' }}</div>
                <button type="submit" class="btn btn-primary d-flex justify-content-center">Check Price</button>
            </form>
        </div>
    </div>
</div>

  


<div style="position: relative; z-index: 2;">
    <style>
        .features-2 {
            max-width: 80%;
            margin: 0 auto;
        }
        .features-2 .image-container {
            padding: 15px;
        }
        .features-2 .image-container img {
            width: 100%;
            border-radius: 10px;
        }
        .features-2 .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 15px;
        }
    </style>

    <section class="features-2" style="max-width:80%;margin:0 auto;">
        <div class="mt-3 ">
            <div class="row  gap-3"  >
                <div class="col-lg-5 mb-3 mb-lg-0">
                    <div class="container mt-3">
                    <div class="row gap-3">
                        <!-- style="background-image: url('../../assets/teach.png'); background-size: cover; background-position: center; border:1px solid #242961;  border-radius: 15px; height: 350px;" -->
                        <div class="col-sm bg-image" 
                            [ngStyle]="{
                                'background-image': 'url(' + ourMissionLeftContentImage1 + ')',
                                'background-size': 'cover',
                                'background-position': 'center',
                                'border': '1px solid #242961',
                                'border-radius': '15px',
                                'height': '350px'
                            }"
                        ></div>
                        <div class="col-sm">
                        <div class="row">
                            <!-- <div class="col-12 p-5 mb-3 text-center text-white our-mission-25-years">
                                <h1>25+</h1>
                                <h5>Years of Experience</h5>
                            </div> -->
                            <div [innerHTML]="ourMissionLeftContent"></div>
                        </div>
                        <div class="row">
                            <!-- style="background-image: url('../../assets/sec.png'); background-size: cover; background-position: center; border:1px solid #242961; border-radius: 15px; height: 150px;" -->
                            <div class="col-12 bg-image" 
                                [ngStyle]="{
                                    'background-image': 'url(' + ourMissionLeftContentImage2 + ')',
                                    'background-size': 'cover',
                                    'background-position': 'center',
                                    'border': '1px solid #242961',
                                    'border-radius': '15px',
                                    'height': '150px'
                                }"
                            ></div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-1" ></div>
                <div class="col-lg-5" [innerHTML]="ourMissionRightContent"></div>
                <!-- <div class="col-lg-5"  >
                    <div class="p-3 p-lg-2" >
                    <h1>Our Mission</h1>
                    <br />
                    <h4>We&apos;re More Than Just a Dissertation Writing Service</h4>
                    <p>
                        We aim to be more than just a writing service. We view ourselves as partners in your academic journey, providing support and guidance at each step. We're here to make the dissertation writing process smoother for you. Contact us today to start your journey toward academic excellence.
                    </p>
                    <button id="convo_btn" class="btn  rounded mr-1" style="background-color: #242961; color: white;" >About Us</button>
                    </div>
                </div> -->
            </div>
        </div>
    </section>


<div class="our-program-section">
    <app-our-program [beingAGoodResidential]="beingAGoodResidential"></app-our-program>
</div>

<!-- <section class="about-3 section-padding-btm" style="max-width:30%;margin:0 auto">
    <div class="container text-center" >

        <h1 style="color: #242961;">Our Four Programs</h1>
        <br />
        <div class="row gap-3"  >
            
        <div class="col-sm" style="border: 1px solid #242961; border-radius: 15px; color: #242961; height: 300px; padding: 20px; " >


            <div style="border-top: 2px solid #242961; border-bottom: 2px solid #242961;  padding: 10px 5px 10px 5px; margin-top: 10px;"  >
                <p style="font-size: 25px;"><strong> Undergrad Degree and Courses </strong></p>
            </div>
            <button id="convo_btn" class="btn  rounded mt-5" style="background: transparent; color: #242961; border: 1px solid #242961;" >See More</button>


        </div>
      
        <div class="col-sm" style="border: 1px solid #242961; background-color: #242961; color: white;  border-radius: 15px;  height: 300px; padding: 20px; " >


            <div style="border-top: 2px solid white; border-bottom: 2px solid #fff;  padding: 10px 5px 10px 5px; margin-top: 10px;"  >
                <p style="font-size: 25px;"><strong> Undergrad Degree and Courses </strong></p>
            </div>
            <button id="convo_btn" class="btn  rounded mt-5" style="background: transparent; color: #fff; border: 1px solid #fff;" >See More</button>


        </div>
    </div>
    <br />
    <div class="row gap-3">
        
        <div class="col-sm" style="border: 1px solid #242961; background-color: #242961; color: white;  border-radius: 15px;  height: 300px; padding: 20px; " >


            <div style="border-top: 2px solid white; border-bottom: 2px solid #fff;  padding: 10px 5px 10px 5px; margin-top: 10px;"  >
                <p style="font-size: 25px;"><strong> Undergrad Degree and Courses </strong></p>
            </div>
            <button id="convo_btn" class="btn  rounded mt-5" style="background: transparent; color: #fff; border: 1px solid #fff;" >See More</button>


        </div>
        <div class="col-sm" style="border: 1px solid #242961; border-radius: 15px; color: #242961; height: 300px; padding: 20px; " >


            <div style="border-top: 2px solid #242961; border-bottom: 2px solid #242961;  padding: 10px 5px 10px 5px; margin-top: 10px;"  >
                <p style="font-size: 25px;"><strong> Undergrad Degree and Courses </strong></p>
            </div>
            <button id="convo_btn" class="btn  rounded mt-5" style="background: transparent; color: #242961; border: 1px solid #242961;" >See More</button>


        </div>
        
    </div>
</div>

</section> -->


<app-assistance-info [assistantInfo]="assistantInfo"></app-assistance-info>
<!-- <section class="counter-section-2 section-padding-btm counter-section-assist" style="max-width:100%;margin:0 auto; ">
    <div class="container-fluid" style="display: flex; flex-wrap: wrap;">
        <div style=" padding: 30px 120px 20px 50px; flex: 1; background-color: #242961; color: #fff;  ">
            <div style="margin: 0 auto;">
                <h1 style="color: #fff;" >Where Can dissertationwriting.help Assist You ?</h1>
                <br />
                <p style="font-size: 20px;">Venturing on a dissertation is a significant academic milestone. It is more than just meeting a requirement; it is about crafting an exceptional piece that showcases your expertise and critical thinking abilities. Here is how we can assist you:</p>
                
                <div  style="display: flex; margin-bottom: 10px;">
                    <div style="border-radius: 50%; margin-right: 15px; width: 100px; height: 60px; margin-top: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 512 512">
                            <path fill="#32BEA6" d="M504.1,256C504.1,119,393,7.9,256,7.9C119,7.9,7.9,119,7.9,256C7.9,393,119,504.1,256,504.1C393,504.1,504.1,393,504.1,256z"></path><path fill="#FFF" d="M392.6,172.9c-5.8-15.1-17.7-12.7-30.6-10.1c-7.7,1.6-42,11.6-96.1,68.8c-22.5,23.7-37.3,42.6-47.1,57c-6-7.3-12.8-15.2-20-22.3C176.7,244.2,152,229,151,228.4c-10.3-6.3-23.8-3.1-30.2,7.3c-6.3,10.3-3.1,23.8,7.2,30.2c0.2,0.1,21.4,13.2,39.6,31.5c18.6,18.6,35.5,43.8,35.7,44.1c4.1,6.2,11,9.8,18.3,9.8c1.2,0,2.5-0.1,3.8-0.3c8.6-1.5,15.4-7.9,17.5-16.3c0.1-0.2,8.8-24.3,54.7-72.7c37-39.1,61.7-51.5,70.3-54.9c0.1,0,0.1,0,0.3,0c0,0,0.3-0.1,0.8-0.4c1.5-0.6,2.3-0.8,2.3-0.8c-0.4,0.1-0.6,0.1-0.6,0.1l0-0.1c4-1.7,11.4-4.9,11.5-5C393.3,196.1,397,184.1,392.6,172.9z"></path>
                        </svg>
                    </div>
                    <div>
                        <h3 style="color: #fff;">Unique Topic Selection</h3>
                        <p style="font-size: 16px;">Our expert team can guide you in selecting a relevant, unique, and impactful topic that aligns with your academic interests and future goals.</p>
                    </div>
                </div>
                <div  style="display: flex; margin-bottom: 10px;">
                    <div style="border-radius: 50%; margin-right: 15px; width: 100px !important; height: 60px !important; margin-top: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 512 512">
                            <path fill="#32BEA6" d="M504.1,256C504.1,119,393,7.9,256,7.9C119,7.9,7.9,119,7.9,256C7.9,393,119,504.1,256,504.1C393,504.1,504.1,393,504.1,256z"></path><path fill="#FFF" d="M392.6,172.9c-5.8-15.1-17.7-12.7-30.6-10.1c-7.7,1.6-42,11.6-96.1,68.8c-22.5,23.7-37.3,42.6-47.1,57c-6-7.3-12.8-15.2-20-22.3C176.7,244.2,152,229,151,228.4c-10.3-6.3-23.8-3.1-30.2,7.3c-6.3,10.3-3.1,23.8,7.2,30.2c0.2,0.1,21.4,13.2,39.6,31.5c18.6,18.6,35.5,43.8,35.7,44.1c4.1,6.2,11,9.8,18.3,9.8c1.2,0,2.5-0.1,3.8-0.3c8.6-1.5,15.4-7.9,17.5-16.3c0.1-0.2,8.8-24.3,54.7-72.7c37-39.1,61.7-51.5,70.3-54.9c0.1,0,0.1,0,0.3,0c0,0,0.3-0.1,0.8-0.4c1.5-0.6,2.3-0.8,2.3-0.8c-0.4,0.1-0.6,0.1-0.6,0.1l0-0.1c4-1.7,11.4-4.9,11.5-5C393.3,196.1,397,184.1,392.6,172.9z"></path>
                        </svg>
                    </div>
                    <div>
                        <h3 style="color: #fff;">Thorough Research</h3>
                        <p style="font-size: 16px;">Our writers excel at conducting in-depth research from credible sources, ensuring your dissertation is abundant with pertinent and current information.</p>
                    </div>
                </div>
                <div  style="display: flex; margin-bottom: 10px;">
                    <div style="border-radius: 100%; margin-right: 15px; width: 100px !important; height: 60px !important; margin-top: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 512 512">
                            <path fill="#32BEA6" d="M504.1,256C504.1,119,393,7.9,256,7.9C119,7.9,7.9,119,7.9,256C7.9,393,119,504.1,256,504.1C393,504.1,504.1,393,504.1,256z"></path><path fill="#FFF" d="M392.6,172.9c-5.8-15.1-17.7-12.7-30.6-10.1c-7.7,1.6-42,11.6-96.1,68.8c-22.5,23.7-37.3,42.6-47.1,57c-6-7.3-12.8-15.2-20-22.3C176.7,244.2,152,229,151,228.4c-10.3-6.3-23.8-3.1-30.2,7.3c-6.3,10.3-3.1,23.8,7.2,30.2c0.2,0.1,21.4,13.2,39.6,31.5c18.6,18.6,35.5,43.8,35.7,44.1c4.1,6.2,11,9.8,18.3,9.8c1.2,0,2.5-0.1,3.8-0.3c8.6-1.5,15.4-7.9,17.5-16.3c0.1-0.2,8.8-24.3,54.7-72.7c37-39.1,61.7-51.5,70.3-54.9c0.1,0,0.1,0,0.3,0c0,0,0.3-0.1,0.8-0.4c1.5-0.6,2.3-0.8,2.3-0.8c-0.4,0.1-0.6,0.1-0.6,0.1l0-0.1c4-1.7,11.4-4.9,11.5-5C393.3,196.1,397,184.1,392.6,172.9z"></path>
                        </svg>
                    </div>
                    <div>
                        <h3 style="color: #fff;">Precise Writing</h3>
                        <p style="font-size: 16px;">A standout dissertation is one that is clearly and accurately written. Our writers have the talent to communicate complex ideas engagingly and understandably.</p>
                    </div>
                </div>
                <div  style="display: flex; margin-bottom: 10px;">
                    <div style="border-radius: 50%; margin-right: 15px; width: 100px !important; height: 60px !important; margin-top: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 512 512">
                            <path fill="#32BEA6" d="M504.1,256C504.1,119,393,7.9,256,7.9C119,7.9,7.9,119,7.9,256C7.9,393,119,504.1,256,504.1C393,504.1,504.1,393,504.1,256z"></path><path fill="#FFF" d="M392.6,172.9c-5.8-15.1-17.7-12.7-30.6-10.1c-7.7,1.6-42,11.6-96.1,68.8c-22.5,23.7-37.3,42.6-47.1,57c-6-7.3-12.8-15.2-20-22.3C176.7,244.2,152,229,151,228.4c-10.3-6.3-23.8-3.1-30.2,7.3c-6.3,10.3-3.1,23.8,7.2,30.2c0.2,0.1,21.4,13.2,39.6,31.5c18.6,18.6,35.5,43.8,35.7,44.1c4.1,6.2,11,9.8,18.3,9.8c1.2,0,2.5-0.1,3.8-0.3c8.6-1.5,15.4-7.9,17.5-16.3c0.1-0.2,8.8-24.3,54.7-72.7c37-39.1,61.7-51.5,70.3-54.9c0.1,0,0.1,0,0.3,0c0,0,0.3-0.1,0.8-0.4c1.5-0.6,2.3-0.8,2.3-0.8c-0.4,0.1-0.6,0.1-0.6,0.1l0-0.1c4-1.7,11.4-4.9,11.5-5C393.3,196.1,397,184.1,392.6,172.9z"></path>
                        </svg>
                    </div>
                    <div>
                        <h3 style="color: #fff;">Detailed Analysis</h3>
                        <p style="font-size: 16px;">Our team is trained to conduct a comprehensive analysis, interpreting the research findings in the context of existing theories and concepts.</p>
                    </div>
                </div>
                <div  style="display: flex; margin-bottom: 10px;">
                    <div style="border-radius: 50%; margin-right: 15px; width: 100px !important; height: 60px !important; margin-top: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 512 512">
                            <path fill="#32BEA6" d="M504.1,256C504.1,119,393,7.9,256,7.9C119,7.9,7.9,119,7.9,256C7.9,393,119,504.1,256,504.1C393,504.1,504.1,393,504.1,256z"></path><path fill="#FFF" d="M392.6,172.9c-5.8-15.1-17.7-12.7-30.6-10.1c-7.7,1.6-42,11.6-96.1,68.8c-22.5,23.7-37.3,42.6-47.1,57c-6-7.3-12.8-15.2-20-22.3C176.7,244.2,152,229,151,228.4c-10.3-6.3-23.8-3.1-30.2,7.3c-6.3,10.3-3.1,23.8,7.2,30.2c0.2,0.1,21.4,13.2,39.6,31.5c18.6,18.6,35.5,43.8,35.7,44.1c4.1,6.2,11,9.8,18.3,9.8c1.2,0,2.5-0.1,3.8-0.3c8.6-1.5,15.4-7.9,17.5-16.3c0.1-0.2,8.8-24.3,54.7-72.7c37-39.1,61.7-51.5,70.3-54.9c0.1,0,0.1,0,0.3,0c0,0,0.3-0.1,0.8-0.4c1.5-0.6,2.3-0.8,2.3-0.8c-0.4,0.1-0.6,0.1-0.6,0.1l0-0.1c4-1.7,11.4-4.9,11.5-5C393.3,196.1,397,184.1,392.6,172.9z"></path>
                        </svg>
                    </div>
                    <div>
                        <h3 style="color: #fff;">Editing and Proofreading</h3>
                        <p style="font-size: 16px;">Small errors can leave a big impact. Our professional editors ensure your dissertation is free from errors and formatted consistently.</p>
                    </div>
                </div>
                <div  style="display: flex; margin-bottom: 10px;">
                    <div style="border-radius: 50%; margin-right: 15px; width: 100px !important; height: 60px !important; margin-top: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 512 512">
                            <path fill="#32BEA6" d="M504.1,256C504.1,119,393,7.9,256,7.9C119,7.9,7.9,119,7.9,256C7.9,393,119,504.1,256,504.1C393,504.1,504.1,393,504.1,256z"></path><path fill="#FFF" d="M392.6,172.9c-5.8-15.1-17.7-12.7-30.6-10.1c-7.7,1.6-42,11.6-96.1,68.8c-22.5,23.7-37.3,42.6-47.1,57c-6-7.3-12.8-15.2-20-22.3C176.7,244.2,152,229,151,228.4c-10.3-6.3-23.8-3.1-30.2,7.3c-6.3,10.3-3.1,23.8,7.2,30.2c0.2,0.1,21.4,13.2,39.6,31.5c18.6,18.6,35.5,43.8,35.7,44.1c4.1,6.2,11,9.8,18.3,9.8c1.2,0,2.5-0.1,3.8-0.3c8.6-1.5,15.4-7.9,17.5-16.3c0.1-0.2,8.8-24.3,54.7-72.7c37-39.1,61.7-51.5,70.3-54.9c0.1,0,0.1,0,0.3,0c0,0,0.3-0.1,0.8-0.4c1.5-0.6,2.3-0.8,2.3-0.8c-0.4,0.1-0.6,0.1-0.6,0.1l0-0.1c4-1.7,11.4-4.9,11.5-5C393.3,196.1,397,184.1,392.6,172.9z"></path>
                        </svg>
                    </div>
                    <div>
                        <h3 style="color: #fff;">Compliance with Academic Standards</h3>
                        <p style="font-size: 16px;">Our team is familiar with various academic citation styles and dissertation structures required by UK universities. We ensure your dissertation meets these standards, enhancing its academic value.</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-image: url('../../assets/images/banner/illustration.png'); background-size: cover; background-position: center;  flex: 1;">
        </div>
    </div>
</section> -->



<section class="choose-us-section-container" [innerHTML]="whyChooseUsSection">
    <!-- <div class="container-fluid-choose-us">
        <div class="choose-us-section">
            <h1>Why Choose Us?</h1>
            <h3>Choosing Human Writers Over AI for Your Dissertation</h3>
        </div>
        <div class="inner-content-choose-us">
            <div class="content-wrapper-choose-us">
                <div class="expert-section-choose-us">
                    <div class="expert-card-choose-us">
                        <img src="../../assets/user.png" alt="Corrie F" />
                        <div class="expert-info-choose-us">
                            <div class="expert-name-choose-us">Corrie F</div>
                            <div class="expert-rating-choose-us">★★★★★</div>
                            <div class="expert-qualifications-choose-us">
                                <span>MBA</span><span>Management</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="expert-card-choose-us">
                        <img src="../../assets/user.png" alt="Sarah A" />
                        <div class="expert-info-choose-us">
                            <div class="expert-name-choose-us">Sarah A</div>
                            <div class="expert-rating-choose-us">★★★★★</div>
                            <div class="expert-qualifications-choose-us">
                                <span>Ph.D.</span><span>Nursing & Ecology</span>
                            </div>
                        </div>
                    </div>
                  
                    <h3>True professionals</h3>
                    <p class="expert-description-choose-us">
                        We only assign verified experts with advanced degrees and extensive expertise in your subject to every single order, be it a research paper or report.
                    </p>
                </div>

                <div class="features-section-choose-us">
                    <div class="feature-row-choose-us">
                        <div class="feature-card-choose-us">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 512 512">
                                <path fill="#E04F5F" d="M7.9,256C7.9,119,119,7.9,256,7.9C393,7.9,504.1,119,504.1,256c0,137-111.1,248.1-248.1,248.1C119,504.1,7.9,393,7.9,256z"></path>
                                <path fill="#FFF" d="M408.1,206.8l-150.1-74.9c-1.3-0.6-2.7-0.6-4,0l-150.2,74.9c-1.7,0.8-2.7,2.4-2.7,4.3v29.6c0,1.6,0.8,3.1,2.2,4c1.4,0.9,3.1,1,4.5,0.3l148.2-74l148.1,74c0.6,0.3,1.3,0.5,2,0.5c0.9,0,1.8-0.2,2.5-0.7c1.4-0.9,2.2-2.4,2.2-4V211C410.8,209.2,409.8,207.5,408.1,206.8z"></path>
                                <path fill="#FFF" d="M380.5 245.8L256 183.8 131.5 245.8 131.5 360.8 200.5 360.8 200.5 272.6 248 272.6 248 360.8 380.5 360.8z"></path>
                                <path fill="#EA4949" d="M263.7 272.6H295.7V304.6H263.7z"></path>
                            </svg>
                            <div class="feature-info-choose-us">
                                <div class="feature-title-choose-us">Simple language writing</div>
                            </div>
                        </div>
                        <div class="feature-card-choose-us">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 512 512">
                                <path fill="#49A0AE" d="M7.9,256C7.9,119,119,7.9,256,7.9C393,7.9,504.1,119,504.1,256c0,137-111.1,248.1-248.1,248.1C119,504.1,7.9,393,7.9,256z"></path>
                                <path fill="#DFF1ED" d="M412.7,313.2c0,18.1-14.6,32.7-32.7,32.7H132c-18.1,0-32.7-14.6-32.7-32.7V168.8c0-18.1,14.6-32.7,32.7-32.7h248c18.1,0,32.7,14.6,32.7,32.7V313.2z"></path>
                                <path fill="#DFF1ED" d="M337,389.9c-2.6,2.6-6.7,2.6-9.3,0l-31.3-44.3c-2.6-2.6-2.6-6.7,0-9.3h72c2.6,2.6,2.6,6.7,0,9.3L337,389.9z"></path>
                                <g><path fill="#B7CAC4" d="M364.9 191.6c0 6.6-5.3 11.9-11.9 11.9H158.2c-6.6 0-11.9-5.3-11.9-11.9l0 0c0-6.6 5.3-11.9 11.9-11.9h194.9C359.6 179.8 364.9 185.1 364.9 191.6L364.9 191.6zM364.9 239.2c0 6.6-5.3 11.9-11.9 11.9H158.2c-6.6 0-11.9-5.3-11.9-11.9l0 0c0-6.6 5.3-11.9 11.9-11.9h194.9C359.6 227.3 364.9 232.6 364.9 239.2L364.9 239.2zM364.9 286.7c0 6.6-5.3 11.9-11.9 11.9H158.2c-6.6 0-11.9-5.3-11.9-11.9l0 0c0-6.6 5.3-11.9 11.9-11.9h194.9C359.6 274.8 364.9 280.1 364.9 286.7L364.9 286.7z"></path></g>
                            </svg>
                            <div class="feature-info-choose-us">
                                <div class="feature-title-choose-us">Native US or UK expert</div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-card-choose-us">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 512 512">
                            <path fill="#E5AA17" d="M7.9,256C7.9,119,119,7.9,256,7.9C393,7.9,504.1,119,504.1,256c0,137-111.1,248.1-248.1,248.1C119,504.1,7.9,393,7.9,256z"></path>
                            <path fill="#FFF" d="M133.7 240.2H378.29999999999995V400H133.7z"></path>
                            <path fill="#FFF" d="M349.7,340.1c-7.7,0-14-6.3-14-14v-136c0-44-35.8-79.8-79.8-79.8s-79.8,35.8-79.8,79.8c0,7.7-6.3,14-14,14s-14-6.3-14-14c0-59.4,48.3-107.7,107.7-107.7s107.7,48.3,107.7,107.7v136C363.7,333.9,357.4,340.1,349.7,340.1z"></path>
                            <path fill="#E5AA17" d="M282.6,309.3c0-14.7-11.9-26.6-26.6-26.6c-14.7,0-26.6,11.9-26.6,26.6c0,9.4,4.8,17.6,12.1,22.3c0,4.2,0,9.4,0,11.5c0,8,6.5,14.5,14.5,14.5s14.5-6.5,14.5-14.5c0-2,0-7.2,0-11.4C277.8,326.9,282.6,318.6,282.6,309.3z"></path>
                        </svg>
                        <div class="feature-info-choose-us">
                            <div class="feature-title-choose-us">English is a second language option</div>
                        </div>
                    </div>
                    <h3 class="section-title-choose-us">We cater to your needs</h3>
                    <p class="section-description-choose-us">
                        Our services are fully customizable to your preferences: deadlines from 1 hour, a simple language option for ESL students, three levels of experts to choose from, and much, much more.
                    </p>
                </div>
                
                <div class="content-section-choose-us">
                    <div class="originality-bar-choose-us">
                        <p>96+ originality</p>
                        <div class="bar-background">
                            <div class="bar-foreground"></div>
                        </div>
                    </div>
                    <div class="plagiarism-checkers-choose-us">
                        <div class="checker">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
                                <path fill="#007aff" d="M11.731,22.253l0.375-3.5h13.75l-1.875,12.125h-3.75l1.125-6.5c0,0-7.301,4.636-7.926,11.511 s3.551,7.864,6.426,8.989v1c0,0-9.234-0.761-9.234-8.011l-0.064-1.915c0,0,0.048-7.074,6.673-13.574 C17.231,22.378,11.856,22.253,11.731,22.253z"></path>
                                <path fill="#007aff" d="M37.856,2.878h-22c-2.625,0-2.955,2.976-2.955,2.976l-0.045,10.024h4v-9h17v25h-6l-1,4h7 c2.209,0,4-1.791,4-4V2.878z"></path>
                            </svg>
                            <span>TurnItIn</span>
                        </div>
                        <img src="../../assets/plag_scan_icon.png" alt="PlagScan" />
                        <img src="../../assets/plagium.svg" alt="Plagium" />
                    </div>
                    <h3 class="section-title-choose-us">Original content</h3>
                    <p class="section-description-choose-us">
                        All papers are tailored from the ground up to ensure they will meet your specific requirements and pass any plagiarism checker.
                    </p>
                </div>
            </div>            
        </div>
    </div> -->
</section>

<!-- <app-whatmakesusbest-sect></app-whatmakesusbest-sect> -->
 <section [innerHTML]="whatMakesUsTheBest"></section>

<app-how-to-order-sect [howToOrder]="howToOrder"></app-how-to-order-sect>

<!--  -->
<div style="margin-bottom: 40px;">
    <div style="display: flex; justify-content: center;">
        <div style="height: 1px; background: #a3a3a3; width: 70%;"></div>
    </div>
    <h1 style="font-size: 52px; text-align: center; margin-bottom: 10px; margin-top: 25px">Make An Inquiry</h1>
    <app-contact-us [showBanner]="'yes'"></app-contact-us>
</div>

<!-- <app-quality-guaranteed-sect></app-quality-guaranteed-sect> -->
 <section [innerHTML]="qualityGuaranteed"></section>

<!-- <app-personal-manager-sect></app-personal-manager-sect> -->

<section [innerHTML]="personalManagerToAssistYou"></section>  

<!-- <app-improve-grades-sect></app-improve-grades-sect> -->
<section [innerHTML]="improvesYourGradeWithUs"></section>

<app-faq-section></app-faq-section>


<!-- <section class="choose-us-section-container" style="max-width:100%;margin: auto; padding: 10px;"  >
    <div class="container-fluid-choose-us" style="position: relative;">
        <div class="choose-us-section" style="border: 1px solid black; background-color: #242961;border-radius: 5px;"></div>
        
        <div style=" width: 80%; margin: 0 auto; position: absolute; top: 50px; left: 50%; transform: translateX(-50%);  padding: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); z-index: 2;">
            <h1 style="color:#fff; text-align: center;">Why Choose Us?</h1>
            <h3 style="color:#fff; text-align: center;">Choosing Human Writers Over AI for Your Dissertation</h3>
            <br />
            <div style="display: flex; flex-wrap: wrap;" >
                <div class="expert-section">
                    <div class="expert-card">
                      <img src="../../assets/user.png" alt="Corrie F" />
                      <div class="expert-info">
                        <div class="expert-name">Corrie F</div>
                        <div class="expert-rating">★★★★★</div>
                        <div class="expert-qualifications">
                          <span>MBA</span><span>Management</span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="expert-card">
                      <img src="../../assets/user.png" alt="Sarah A" />
                      <div class="expert-info">
                        <div class="expert-name">Sarah A</div>
                        <div class="expert-rating">★★★★★</div>
                        <div class="expert-qualifications">
                          <span>Ph.D.</span><span>Nursing & Ecology</span>
                        </div>
                      </div>
                    </div>
                  
                    <h3>True professionals</h3>
                    <p class="expert-description">
                      We only assign verified experts with advanced degrees and extensive expertise in your subject to every single order, be it a research paper or report.
                    </p>
                </div>

                <div class="features-section">
                    <div class="feature-row">
                    <div class="feature-card">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 512 512">
                            <path fill="#E04F5F" d="M7.9,256C7.9,119,119,7.9,256,7.9C393,7.9,504.1,119,504.1,256c0,137-111.1,248.1-248.1,248.1C119,504.1,7.9,393,7.9,256z"></path><path fill="#FFF" d="M408.1,206.8l-150.1-74.9c-1.3-0.6-2.7-0.6-4,0l-150.2,74.9c-1.7,0.8-2.7,2.4-2.7,4.3v29.6c0,1.6,0.8,3.1,2.2,4c1.4,0.9,3.1,1,4.5,0.3l148.2-74l148.1,74c0.6,0.3,1.3,0.5,2,0.5c0.9,0,1.8-0.2,2.5-0.7c1.4-0.9,2.2-2.4,2.2-4V211C410.8,209.2,409.8,207.5,408.1,206.8z"></path><path fill="#FFF" d="M380.5 245.8L256 183.8 131.5 245.8 131.5 360.8 200.5 360.8 200.5 272.6 248 272.6 248 360.8 380.5 360.8z"></path><path fill="#EA4949" d="M263.7 272.6H295.7V304.6H263.7z"></path>
                        </svg>
                        <div class="feature-info">
                        <div class="feature-title">Simple language writing</div>
                        </div>
                    </div>
                    <div class="feature-card">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 512 512">
                            <path fill="#49A0AE" d="M7.9,256C7.9,119,119,7.9,256,7.9C393,7.9,504.1,119,504.1,256c0,137-111.1,248.1-248.1,248.1C119,504.1,7.9,393,7.9,256z"></path><path fill="#DFF1ED" d="M412.7,313.2c0,18.1-14.6,32.7-32.7,32.7H132c-18.1,0-32.7-14.6-32.7-32.7V168.8c0-18.1,14.6-32.7,32.7-32.7h248c18.1,0,32.7,14.6,32.7,32.7V313.2z"></path><path fill="#DFF1ED" d="M337,389.9c-2.6,2.6-6.7,2.6-9.3,0l-31.3-44.3c-2.6-2.6-2.6-6.7,0-9.3h72c2.6,2.6,2.6,6.7,0,9.3L337,389.9z"></path><g><path fill="#B7CAC4" d="M364.9 191.6c0 6.6-5.3 11.9-11.9 11.9H158.2c-6.6 0-11.9-5.3-11.9-11.9l0 0c0-6.6 5.3-11.9 11.9-11.9h194.9C359.6 179.8 364.9 185.1 364.9 191.6L364.9 191.6zM364.9 239.2c0 6.6-5.3 11.9-11.9 11.9H158.2c-6.6 0-11.9-5.3-11.9-11.9l0 0c0-6.6 5.3-11.9 11.9-11.9h194.9C359.6 227.3 364.9 232.6 364.9 239.2L364.9 239.2zM364.9 286.7c0 6.6-5.3 11.9-11.9 11.9H158.2c-6.6 0-11.9-5.3-11.9-11.9l0 0c0-6.6 5.3-11.9 11.9-11.9h194.9C359.6 274.8 364.9 280.1 364.9 286.7L364.9 286.7z"></path></g>
                            </svg>
                        <div class="feature-info">
                        <div class="feature-title">Native US or UK expert</div>
                        </div>
                    </div>
                    </div>
                    <div class="feature-card" style="margin: 0 auto; max-width: 250px;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 512 512">
                            <path fill="#E5AA17" d="M7.9,256C7.9,119,119,7.9,256,7.9C393,7.9,504.1,119,504.1,256c0,137-111.1,248.1-248.1,248.1C119,504.1,7.9,393,7.9,256z"></path><path fill="#FFF" d="M133.7 240.2H378.29999999999995V400H133.7z"></path><path fill="#FFF" d="M349.7,340.1c-7.7,0-14-6.3-14-14v-136c0-44-35.8-79.8-79.8-79.8s-79.8,35.8-79.8,79.8c0,7.7-6.3,14-14,14s-14-6.3-14-14c0-59.4,48.3-107.7,107.7-107.7s107.7,48.3,107.7,107.7v136C363.7,333.9,357.4,340.1,349.7,340.1z"></path><path fill="#E5AA17" d="M282.6,309.3c0-14.7-11.9-26.6-26.6-26.6c-14.7,0-26.6,11.9-26.6,26.6c0,9.4,4.8,17.6,12.1,22.3c0,4.2,0,9.4,0,11.5c0,8,6.5,14.5,14.5,14.5s14.5-6.5,14.5-14.5c0-2,0-7.2,0-11.4C277.8,326.9,282.6,318.6,282.6,309.3z"></path>
                            </svg>
                        <div class="feature-info">
                        <div class="feature-title">'English is a second language' option</div>
                    </div>
                    </div>
                    <h3 class="section-title">We cater to your needs</h3>
                    <p class="section-description">
                    Our services are fully customizable to your preferences: deadlines from 1 hour, a simple language option for ESL students, three levels of experts to choose from, and much, much more.
                    </p>
                </div>
                
                <div class="content-section">
                    <div class="originality-bar">
                    <p>96+ originality</p>
                    <div style="background: #e0e0e0; border-radius: 5px; height: 10px; width: 100%;">
                        <div style="background: #242961; width: 96%; height: 100%; border-radius: 5px;"></div>
                    </div>
                    </div>
                
                    <div class="plagiarism-checkers">
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48">
                            <path fill="#007aff" d="M11.731,22.253l0.375-3.5h13.75l-1.875,12.125h-3.75l1.125-6.5c0,0-7.301,4.636-7.926,11.511 s3.551,7.864,6.426,8.989v1c0,0-9.234-0.761-9.234-8.011l-0.064-1.915c0,0,0.048-7.074,6.673-13.574 C17.231,22.378,11.856,22.253,11.731,22.253z"></path><path fill="#007aff" d="M37.856,2.878h-22c-2.625,0-2.955,2.976-2.955,2.976l-0.045,10.024h4v-9h17v25h-6l-1,4h7 c2.209,0,4-1.791,4-4V2.878z"></path>
                        </svg>
                        <span style="font-size: 12px;">TurnItIn</span>
                    </div>
                    <img src="../../assets/plag_scan_icon.png" alt="PlagScan" />
                    <br />
                    <img src="../../assets/plagium.svg" alt="Plagium" />
                    </div>
                
                    <h3 class="section-title">Original content</h3>
                    <p class="section-description">
                    All papers are tailored from the ground up to ensure they will meet your specific requirements and pass any plagiarism checker.
                    </p>
                </div>
            </div>            
        </div>
    </div>
</section> -->


<app-home-testimonial-section></app-home-testimonial-section>

<!-- <section
  class="testimonial-3 section-padding"
  style="background-color: #242961; margin: 20px; border-radius: 6px;"
>
  <div class="container-fluid" style="max-width: 80%; margin: 0 auto">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="section-heading text-center">
          <h2 class="font-lg" style="color: #fff">Our Students Says</h2>
          <p style="color: #fff">
            Discover Your Perfect Program In Our Courses.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <app-testimonials [aboutUs]="true"></app-testimonials>
    </div>
  </div>
</section> -->


<!-- <app-how-to-write></app-how-to-write> -->
<!-- <app-samples></app-samples> -->
</div>