<h1 class="col-12 text-center mt-5 mb-5" style="color: #242961; margin-bottom: 20px;">Change Password</h1>



<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6 mx-auto">
                <div class="card p-3">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="field1" class="form-label">Old Password</label>
                            <input 
                            type="password" 
                            class="form-control" 
                            formControlName="oldPassword" 
                            id="field1"
                            placeholder="Old Password"
                            style="
                            height: 45px;
                            border: 1px solid rgb(77, 75, 75);
                            "
                            />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="field2" class="form-label">New Password</label>
                            <input type="password" formControlName="newPassword" class="form-control" id="field2"
                            placeholder="New Password"
                            style="
                            height: 45px;
                            border: 1px solid rgb(77, 75, 75);
                            "
                            />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="field3" class="form-label">Retype New Password</label>
                            <input type="password" formControlName="retypePassword" class="form-control" id="field3"
                            placeholder="Confirm password"
                            style="
                            height: 45px;
                            border: 1px solid rgb(77, 75, 75);
                            "
                            />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ms-2" style="background-color: #242961; color: #FFF; border-radius: 6px; padding: 8px 16px;">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
