<div class="text-center fw-bold fs-3 text-primary">My Invoices</div>
<table style="margin-top: 20px;" class="table table-borderless table-hover">
    <thead class="bg-primary">
        <tr class="table-borderless">
            <th>Order ID</th>
            <th>Invoice Date</th>
            <th>Payment Status</th>
            <th style="width: 300px">Option
            </th>
        </tr>
    </thead>
    <tbody class="bg-light">
        <tr style="height: 70px;border-bottom: 1px solid lightgray;" *ngFor="let invoice of invoices">
            <td>PA - {{  invoice.Id}}</td>
            <td>{{formatDatabaseTimestamp(invoice.created_at)}}</td>
            <td>{{invoice.PaidStatus}}</td>
            <td>
                <a routerLink="/invoice/{{invoice.Id}}">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    View Invoice
                </a>
            </td>
        </tr>
    </tbody>
</table>