*{
    margin: 0px;


}


  .curved {  
    height: 15vh;
    /* background-image: url('../../assets/images/login-image.jpeg'); */
    /* background-color: #242A61; */
    background: linear-gradient(45deg, #242A61, #150e42, #242A61);
    background-position: top top;
    position: relative;
    background-size: 100% 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    overflow: hidden;
  }

  .curved>div{
    width: 100%;
    /* background-color:aqua; */
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }


  .container{

    margin-top: 120px;
    width:70% !important;
    /* background-color: aqua; */
  }



  .user-registration{

    text-align: center;
    font-weight: bold;
    color: #fff;
        font-size: 2.5rem;

  }


  .checks-main{
    width: 110px !important;
  }

  .register-now-button{
    width: 170px !important;
    font-weight: bold !important;
    background-color: #242A61;
    color: #fff;
  }
  


  @media only screen and (max-width: 740px) {
    .password-hide-media-query {

      display: none;
    }
  }



  

  @media only screen and (min-width: 741px) {
    .password-show-media-query {

      display: none;
    }
  }
  