.admin-login-logo {
    object-fit: contain;
    width: 250px;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 30px;
}

.admin_panel_text {
    text-align: center;
    line-height: 0px !important;
}

.admin-login-btn { 
    border-radius: 4px;
    background-color: #242A61;
    color: #FFF;
    transition: all 0.2s ease-in-out;
    margin-top: 14px;
}

.admin-login-btn:hover { 
    border-radius: 4px;
    background-color: #131e85;
}