<div class="samples-page">
  <div class="breadcrumb-container">
    <ul class="breadcrumb" style="padding: 3px 12px;">
      <li><a [routerLink]="'/'">Home</a></li>
      <li><a [routerLink]="'/our-samples'">Our Samples</a></li>
      <li>{{ level | titlecase }}</li>
      <li class="active">{{ type | titlecase }}</li>
    </ul>
  </div>

  <div class="content-container">
    <h2 class="section-title">{{ type | titlecase }} Samples</h2>
    <p class="section-description">
      At Dissertation Writing, we're proud to showcase our quality and work. We've put together some sample essays, written by our expert writers to show their skills and quality. Take a look at what we can produce with the following examples created at {{ level | titlecase }} in our most popular subjects – Business, Law, and Nursing.
    </p>

    <div class="samples-grid">
      <!-- Dynamic sample cards based on grouped data -->
      <div class="sample-card" *ngFor="let sample of groupedSamples">
        <div class="sample-image" style="background-image: url('../../assets/images/oursamples-business.jpg');">
          <div class="overlay">
            <h3>{{ sample.topic | uppercase }}</h3>
            <!-- Generate buttons for each cat_point -->
            <ng-container *ngFor="let catPoint of sample.catPoints">
              <button (click)="viewSample(sample.topic + '-' + catPoint)">{{ catPoint }} SAMPLE ›</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
