
<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <h1>Our Samples</h1>
          <ul class="header-bradcrumb justify-content-center">
            <li><a href="/">Home</a></li>
            <li class="active" aria-current="page">Our Samples</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .table-hover tbody :hover {
      background-color: rgb(172, 213, 240);
      color: white;
  }
</style>
<div class="page-wrapper">
  <div class="container">
    <h1 style="font-size: 40px;">Samples</h1>
    <div class="row">
        <div class="sample-list">
          <div *ngFor="let sample of filteredSamples" class="sample-item">
            <div class="sample-header">
              <span>Upload By: {{ sample.author || "Admin" }}</span>
              <span> / </span>
              <span>{{ sample.created_at | date: 'yyyy-MM-ddTHH:mm:ssZZZZZ' }}</span>
            </div>
            <div class="sample-title">
              {{ sample.Title }}
            </div>
            <a routerLink="/samples/{{sample.Slug}}" class="read-more-link">Read more ➔</a>
          </div>
          <div *ngIf="filteredSamples.length === 0" style="margin-top: 20px;">There is no Sample Available</div>
        </div>
    </div>
  </div>
  <div class="">
    <div class="blue-section">
      <div class="position-relative d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <img src="../../assets/images/chat-gpt.png" style="width: 50px;" alt="Chat GPT Icon" />
          <span style="font-size: 30px;">ChatGPT</span>
        </div>
        <p style="font-size: 50px; color: red; position: absolute; top: 5px; opacity: 0.6;">X</p>
      </div>
      <p>
        The services provided by Assignment Experts UK are 100% original and custom written.
        We never use any paraphrasing tool, any software to generate content for e.g., Chat GPT and all other content writing tools.
        We ensure that the work produced by our writers is self-written and 100% plagiarism-free.
      </p>
      <div class="d-flex justify-content-center">
        <p class="px-5 py-2 fw-bold" style="border: 1px solid gainsboro; border-radius: 8px;">DISCOVER MORE</p>
      </div>
    </div>
    <app-sample-topic-list (topicSelected)="onTopicSelected($event)"></app-sample-topic-list>
  </div>
</div>
















<!-- <section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <div class="title-block">
          <h1>Our Samples</h1>
          <ul class="header-bradcrumb justify-content-center">
            <li><a href="/">Home</a></li>
            <li class="active" aria-current="page">Our Samples</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .table-hover tbody :hover {
      background-color: rgb(172, 213, 240);
      color: white;
  }
</style>
<div class="page-wrapper">
  <div class="container">
    <h1 style="font-size: 40px;">Samples</h1>
    <div class="row">
        <div class="sample-list">
          <div *ngFor="let sample of displayData" class="sample-item">
            <div class="sample-header">
              <span>Upload By: {{ sample.author || "Admin" }}</span>
              <span> / </span>
              <span>{{ sample.created_at | date: 'yyyy-MM-ddTHH:mm:ssZZZZZ' }}</span>
            </div>
            <div class="sample-title">
              {{ sample.Title }}
            </div>
            <a routerLink="/samples/{{sample.Slug}}" class="read-more-link">Read more ➔</a>
          </div>
        </div>
    </div>
  </div>
  <div class="">
    <div class="blue-section">
      <div class="position-relative d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center gap-2">
          <img src="../../assets/chat-gpt.png" style="width: 50px;" alt="Chat GPT Icon" />
          <span style="font-size: 30px;">ChatGPT</span>
        </div>
        <p style="font-size: 50px; color: red; position: absolute; top: 5px; opacity: 0.6;">X</p>
      </div>
      <p>
        The services provided by Assignment Experts UK are 100% original and custom written.
        We never use any paraphrasing tool, any software to generate content for e.g., Chat GPT and all other content writing tools.
        We ensure that the work produced by our writers is self-written and 100% plagiarism-free.
      </p>
      <button>DISCOVER MORE</button>
    </div>
    <app-sample-topic-list></app-sample-topic-list>
  </div>
</div> -->
